.main-basket-columns {
  align-items: flex-start;
  .basket-column-items {
    width: 75%;
    .basket-steps-togglers {
      margin-bottom: 35px;
      .basket-step-toggle {
        padding-top: 20px;
        position: relative;
        color: #ccc;
        cursor: pointer;
        .liner {
          display: block;
          height: 2px;
          position: absolute;
          top: 9px;
          left: 50%;
          background: #ccc;
        }
        &:after {
          content: '';
          position: absolute;
          display: block;
          width: 10px;
          height: 10px;
          background: #ccc;
          border: 4px solid #fff;
          top: 0;
          left: 50%;
          margin-left: -9px;

          -webkit-box-shadow: 0 0 0 2px #ccc;
          -moz-box-shadow: 0 0 0 2px #ccc;
          box-shadow: 0 0 0 2px #ccc;

          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
        }
        &.active, &.pre-active {
          color: #000;
          &:after {
            background: #000;

            -webkit-box-shadow: 0 0 0 2px #000;
            -moz-box-shadow: 0 0 0 2px #000;
            box-shadow: 0 0 0 2px #000;
          }
        }
        &.pre-active {
          .liner {
            background: #000;
          }
        }

        @media screen and (max-width: 450px) {
          font-size: 10px;

        }
      }
    }
    .basket-step-item {
      display: none;

      h3 {
        margin-bottom: 30px;
      }

      .basket-main-item-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        &:not(:last-child) {
          margin-bottom: 15px;
          border-bottom: 1px solid #ececec;
          padding-bottom: 15px;
        }
        &.grid-headers {
          color: #888;
          font-weight: 600;

          @media screen and (max-width: 768px) {
            display: none;
          }
        }
        .basket-main-item-col {
          &.basket-main-item-picture {
            width: 10%;
            text-align: center;

            @media screen and (max-width: 768px) {
              width: auto;
              grid-area: pict;
            }
          }
          &.basket-main-item-name {
            width: 50%;

            @media screen and (max-width: 992px) {
              width: 30%;
            }

            @media screen and (max-width: 768px) {
              width: auto;
              grid-area: name;
            }
          }
          &.basket-main-item-count {
            width: 20%;
            input {
              border: none;
              border-bottom: 1px solid #ececec;
              border-top: 1px solid #ececec;
              text-align: center;
              max-width: 60px;
              padding: 5px 5px 4px;
              //box-shadow: inset 0px 3px 10px 0px #ececec;
              &::-webkit-inner-spin-button {
                display: none;
              }
            }
            .counter-rechange-btn {
              border: 1px solid #ececec;
              padding: 5px 10px;
              background: linear-gradient(to bottom, #f7f7f7, #eaeaea);
              cursor: pointer;
              font-size: 12px;
              line-height: 1.45;
              &:hover {
                background: linear-gradient(to bottom, #eaeaea, #f7f7f7);
              }
            }

            @media screen and (max-width: 768px) {
              width: auto;
              grid-area: count;
            }

            @media screen and (max-width: 450px) {
              display: flex;
              align-items: center;
              height: 100%;
            }

            @media all and (-ms-high-contrast: none) {
              width: auto;

            }
          }
          &.basket-main-item-sum {
            width: 10%;
            .basket-main-item-price-row {
              font-weight: 700;
              &.old-price {
                text-decoration: line-through;
                color: #bdbdbd;
                font-weight: 400;
                margin-top: 10px;
              }
            }

            @media screen and (max-width: 992px) {
              width: 20%;
            }

            @media screen and (max-width: 768px) {
              width: auto;
              grid-area: sum;
            }
          }
          &.basket-main-item-remove {
            width: 10%;
            text-align: center;

            @media screen and (max-width: 768px) {
              width: auto;
              grid-area: remove;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
            }
          }
        }

        @media screen and (max-width: 768px) {
          display: grid;
          grid-template-areas: "pict name count" "pict sum remove";
        }

        @media screen and (max-width: 450px) {
          grid-template-areas: "pict name name" "pict count count" "pict sum remove";
          grid-gap: 10px;
        }
      }
      .action-row {
        align-items: flex-end;
        .btn {
          margin-bottom: 0;
        }
        .coupon-wrapper {
          .coupon-block {
            .input-wrapper {

              width: 100%;
            }
            @media screen and (max-width: 350px) {
              flex-wrap: wrap;
              align-items: center;
              justify-content: center;
              input {
                width: 100%;
              }
              .btn {
                margin-top: 15px;
              }
            }
          }
        }

        @media screen and (max-width: 768px) {
          flex-direction: column-reverse;
          margin-top: 60px;
          padding-top: 30px;
          border-top: 1px solid #ececec;
          justify-content: center;
          align-items: center;

          .coupon-wrapper {
            margin-top: 60px;
          }
        }
      }

      .order-props-grid {
        margin-bottom: 30px;
        padding-bottom: 30px;
        //border-bottom: 1px solid #ececec;
        .order-props-list {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 30px;
          @media screen and (max-width: 450px) {
            grid-template-columns: 1fr;

          }
        }
      }

      .service-block {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 30px;
        margin-bottom: 35px;
        padding-bottom: 35px;
        //border-bottom: 1px solid #ececec;

        .service-item {
          border: 2px solid #ececec;
          padding: 25px;
          text-align: center;
          cursor: pointer;
          img {
            max-width: 100%;
            margin: 0 auto;
            display: block;
          }
          .name {
            font-weight: bold;
            margin-top: 10px;
          }
          .price {
            font-weight: bold;
            margin-top: 10px;
          }
          &.active {
            border-color: #000;
            .price {
              font-size: 1rem;
            }
          }

          @media screen and (max-width: 450px) {
            padding: 10px;
          }
        }

        @media screen and (max-width: 1024px) {
          grid-template-columns: repeat(4, 1fr);
        }

        @media screen and (max-width: 768px) {
          grid-template-columns: repeat(3, 1fr);
        }

        @media screen and (max-width: 450px) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 320px) {
          grid-template-columns: 1fr;
        }

        @media all and (-ms-high-contrast: none) {
          display: flex;
          .service-item {
            width: calc(100% / 5 - 4 * 30px / 5);
            margin-bottom: 30px;
            margin-right: 30px;

            @media screen and (min-width: 1025px) {
              &:nth-child(5n+5) {
                margin-right: 0;
              }
            }

            @media screen and (max-width: 1024px) and (min-width: 769px) {
              width: calc(100% / 4 - 3 * 30px / 4);
              &:nth-child(4n+4) {
                margin-right: 0;
              }
            }

            @media screen and (max-width: 768px) and (min-width: 451px) {
              width: calc(100% / 3 - 2 * 30px / 3);
              &:nth-child(3n+3) {
                margin-right: 0;
              }
            }

            @media screen and (max-width: 450px) and (min-width: 321px) {
              width: calc(100% / 2 - 1 * 30px / 2);
              &:nth-child(2n+2) {
                margin-right: 0;
              }
            }

            @media screen and (max-width: 320px) {
              width: 100%;
              margin-right: 0;
            }
          }
        }
      }

      .btn-row {
        .btn {
          margin-bottom: 0;
        }

        @media screen and (max-width: 768px) {
          flex-wrap: wrap;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .consent {
            margin-bottom: 30px;
          }
          .custom-checkbox {
            align-items: center;
            
          }
        }
      }
    }

    @media screen and (max-width: 1240px) {
      width: 70%;
    }
    @media screen and (max-width: 1024px) {
      width: 100%;
    }
  }
  .basket-column-sum {
    width: 25%;
    padding-left: $pl_main;
    h1 {
      margin-top: 0;
    }
    h1, .basket-sum-subtotal, .basket-sum-total {
      padding-left: $pl_main;
      padding-right: $pr_main;
    }
    .basket-sum-subtotal {
      margin-bottom: 30px;
      .basket-sum-subtotal-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        color: #888;
        .value {
          font-weight: bold;
        }
      }
    }
    .basket-sum-total {
      .basket-sum-total-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .value {
          font-size: 1.4rem;
          font-weight: bold;
        }
      }
    }

    @media screen and (max-width: 1240px) {
      width: 30%;
    }
    @media screen and (max-width: 1024px) {
      width: 100%;
      margin-top: 30px;
      padding-left: 0;
    }
  }
  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;

  }
}

.bx-ui-sls-route {
  display: none;
}

.bx-ui-sls-container {
  height: 100%;
}

.bx-ui-sls-pane {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px 0px;
  background: #fff;
  border: 1px solid #ececec;
  max-height: 150px;
  .bx-ui-sls-variants {
    .dropdown-item {
      padding: 10px;
      cursor: pointer;
      &:hover {
        background: #f7f7f7;
      }
    }
  }
}