.basket-column {
  position: fixed;
  right: -33%;
  top: 0;
  z-index: 30;
  width: 33%;
  background: #fff;
  height: 100%;
  -webkit-transition: .3s ease right;
  -moz-transition: .3s ease right;
  -ms-transition: .3s ease right;
  -o-transition: .3s ease right;
  transition: .3s ease right;
  .basket-column-inner {
    padding: $pl_main;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #fff;
    position: relative;

    h2 {
      margin: 0 0 50px 0;
      height: 33px;
      display: flex;
      align-items: center;
      + .basket-column-item {
        border-top: 1px solid #ececec;
        padding-top: 30px;
      }
    }
    .web-form {
      h2 {
        margin: 30px 0 50px 0;
        height: 33px;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 1.8rem;
      }

      .btn {
        box-shadow: 3px 5px 10px rgba(0, 0, 0, .2);
      }
    }
    .btn {
    }

    > .basket-column-close {
      color: #bdbdbd;
      font-size: 1rem;
      cursor: pointer;
      position: absolute;
      top: $pl_main;
      right: $pl_main;
    }

    //.basket-items-wrapper {
    .basket-column-item {
      display: flex;
      justify-content: space-between;
      &:not(:last-child) {
        border-bottom: 1px solid #ececec;
        padding-bottom: 30px;
        margin-bottom: 15px;
      }
      .basket-column-item-col {
        padding: 0 10px;
        &.basket-column-item-picture {
          width: 20%;
          padding: 0;
          text-align: center;
        }
        &.basket-column-item-name {
          width: 40%;
          .props {
            margin-top: 15px;
            .prop-row {
              display: flex;
              //font-weight: 600;
              .prop-name {
                margin-right: 10px;
              }
            }
          }
          .article {
            margin-top: 15px;
            color: #bdbdbd;
            font-weight: 600;
          }
          .btn {
            margin-top: 15px;
          }
        }
        &.basket-column-item-count {
          width: 15%;
          padding: 0;
          input {
            width: 100%;
            text-align: center;
            border: 1px solid #ececec;
            padding: 5px;
          }
        }
        &.basket-column-item-price {
          width: 20%;
          .basket-column-item-price-value {
            font-weight: 700;
            &.old-price {
              color: #bdbdbd;
              text-decoration: line-through;
              font-weight: 500;
              margin-top: 10px;
            }
          }
        }
        &.basket-column-item-remove {
          width: 5%;
          text-align: center;
          padding: 0;
          cursor: pointer;
        }

      }
    }
    .basket-column-sum {
      display: flex;
      justify-content: flex-end;
      padding: 0 0 15px;
      font-weight: 500;
      margin-bottom: 40px;
    }
    .empty-basket {
      margin-bottom: 40px;
    }
    .btn-row {
      &:not(.btn-row-wide) {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    //}

    .input-wrapper {
      height: 50px;
      margin-bottom: 25px;
      .placeholder {
        top: 16px;
      }
      &.typed {
        .placeholder {
          top: -5px;
        }
      }
    }

    .basket-items-wrapper {
      .btn-row {
        flex-wrap: wrap;
        .btn {
          width: 100%;
          margin-right: 0;

        }
      }
    }

    @media screen and (max-width: 552px) {
      padding: 20px;

      > .basket-column-close {
        top: 20px;
        right: 20px;
      }

      .favorite-items-wrapper {
        .basket-column-item {
          display: grid;
          grid-template-areas: "pict name name" "pict price remove";
          grid-gap: 10px;
          .basket-column-item-col {
            &.basket-column-item-count {
              display: none;
            }
          }
        }
      }
      .basket-items-wrapper {
        .basket-column-item {
          display: grid;
          grid-template-areas: "pict name name" "pict price count" "pict remove remove";
          grid-gap: 10px;
        }
      }

      .basket-column-item {
        .basket-column-item-col{
          &.basket-column-item-picture {
            width: auto;
            grid-area: pict;
          }
          &.basket-column-item-name {
            width: auto;
            grid-area: name;
          }
          &.basket-column-item-count {
            width: auto;
            grid-area: count;
          }
          &.basket-column-item-price {
            width: auto;
            grid-area: price;
          }
          &.basket-column-item-remove {
            width: auto;
            grid-area: remove;
          }
        }
      }
    }
  }

  .basket-column-icons-togglers {
    position: absolute;
    top: 50%;
    left: -60px;
    background: #fff;
    width: 60px;
    transform: translate(0, -50%);
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;

    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .1);

    .basket-column-icons-toggle-item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      color: #bdbdbd;
      font-size: .65rem;
      border-right: 1px solid #ececec;
      cursor: pointer;
      position: relative;
      &:not(:last-child) {
        border-bottom: 1px solid #ececec;
      }
      &.active {
        color: #000;
        border-right-color: transparent;
        cursor: default;
      }
      &:hover {
        color: #000;
      }
      &.has-elems {
        &:after {
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          background: #e03232;
          border-radius: 50%;
          bottom: 18px;
          right: 18px;
          position: absolute;
        }
      }
    }

    @media screen and (max-width: 450px) {
      position: fixed;
      top: auto;
      bottom: 0;
      left: 0;
      background: #fff;
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;

      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;

      -webkit-box-shadow: 0 0 0;
      -moz-box-shadow: 0 0 0;
      box-shadow: 0 0 0;

      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);

      .basket-column-icons-toggle-item {
        flex-grow: 1;
        border-top: 1px solid #ececec;
        &:not(:last-child) {
          border-bottom: none;
        }
      }
    }
  }
  &.showed {
    right: 0;
    .basket-column-icons-togglers {
      .basket-column-icons-toggle-item {
        box-shadow: inset -3px 3px 15px -5px #ccc;
        &.active {
          box-shadow: none;
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    width: 50%;
    right: -50%;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    right: -100%;
  }
}

.basket-column-block {
  .map-data-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/map.png) no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
  }
}
