.certificats-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  .sertificate-item {
    position: relative;
    img {
      max-width: 100%;
    }
    .img_cont_fancy {
      &:not(.img_cont) {
        position: absolute;
        top: 50%;
        left: 50%;
        .meta {
          font-size: 12px;
          -webkit-transition: opacity 0.2s;
          -moz-transition: opacity 0.2s;
          -o-transition: opacity 0.2s;
          transition: opacity 0.2s;
          opacity: 0;
          background: #ececec;
          padding: 10px 20px;
          margin-left: -45px;
          margin-top: -15px;
        }
      }
    }
    &:hover {
      .img_cont_fancy {
        &:not(.img_cont) {
          opacity: 1;
          .meta {
            opacity: 1;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 552px) {
    grid-template-columns: 1fr;
  }
}