.wide-map {
  filter: grayscale(100%);
  margin-left: -35px;
  margin-right: -35px;

  @media screen and (max-width: 552px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.contacts-inner {
  .contacts-preview-text {
    margin: 35px 0;
    text-align: center;
  }
  .form-and-detail {
    .form-left {
      width: 50%;
      h2 {
        text-align: center;
      }

      form {
        max-width: 320px;
        margin: 0 auto;
        .input-wrapper {
          margin-bottom: 35px;
        }
      }
    }
    .detail-text {
      width: 50%;
      padding: 35px;
      .quote {
        margin-bottom: 50px;
        .quote-text {
          font-size: 1.2rem;
          font-style: italic;
          border-top: 4px solid #dedede;
          border-bottom: 4px solid #dedede;
          padding: 35px;
          margin-bottom: 15px;
          font-weight: 600;
          text-align: center;
        }
        .quote-author {
          text-align: center;
          font-size: 1rem;
          font-style: italic;
          color: #888;
        }
      }
      .contacts-block {
        //text-align: center;
        .contacts-col {
          width: 50%;
        }
      }
    }

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      .form-left,
      .detail-text {
        width: 100%;
      }
      .detail-text {
        padding: 0;
        margin-top: 30px;
      }
    }

    @media screen and (max-width: 552px) {
      .detail-text {
        .contacts-block {
          flex-wrap: wrap;

          .contacts-col {
            width: 100%;
          }
        }
      }
    }
  }
}