.masters-on-main-page {
  @include displayGridFlex(7, 30px);

  .master-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
    }
    .name {
      margin-top: 10px;
    }
    .items {
      /*display: flex;
      justify-content: space-between;
      width: 100%;*/
    }

    @include widthFlexRepeat(7, 30px);

  }
}

.executors-filter {
  .alphabet-table {
    margin: 40px 0;
    @include displayGridFlex(6, 0px);

    .alphabet-item {
      text-align: center;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      cursor: pointer;
      font-weight: bold;
      &.active {
        background: #e03232;
        color: #fff;
        font-weight: 400;
      }
      input {
        &[type="radio"] {
          display: none;
        }
      }

      @include widthFlexRepeat(6, 0px);
    }
  }
  .checkboxes-list {
    .custom-checkbox {
      margin-bottom: 10px;
    }
  }
}