.footer {
  padding: 30px 0;
  padding-left: $pl_main;
  padding-right: $pr_main;
  background: #ececec;
  border-bottom: 10px solid #000;
  //border-top: 2px solid #000;
  .footer-columns-row {
    .footer-column {
      &.logo-column {
        color: rgba(0, 0, 0, 0.6);
        p {
          font-size: 10px;
          max-width: 200px;
          line-height: 1.4;
        }
      }
      .footer-column-label {
        margin-bottom: 20px;
        display: block;
        height: 34px;
        text-transform: uppercase;
      }
      .footer-menu {
        display: flex;
        flex-direction: column;
        a {
          display: block;
          margin-bottom: 10px;
        }
      }
      .social-icon-wrapper {
        margin-top: 15px;

        > a {
          width: 40px;
          height: 40px;
          display: block;

          color: #fff;
          border-radius: 50%;
          overflow: hidden;
          background: #0400ff;
          padding: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          &:not(:last-child) {
            margin-right: 15px;
          }
          /*&.facebook {
            color: #4267b2;
          }
          &.vk {
            color: #4a76a8;
          }
          &.insta {
            color: #000;
          }*/
          svg {
            width: 16px;
            height: 16px;
          }

          &.facebook {
            background: #3b5998;
          }
          &.vk {
            background: #4a76a8;
          }
          &.insta {
            background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, red, #ff0);
          }

          -webkit-transition: .3s ease transform;
          -moz-transition: .3s ease transform;
          -ms-transition: .3s ease transform;
          -o-transition: .3s ease transform;
          transition: .3s ease transform;

          &.hovered {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
          }
          &.smalled {
            -webkit-transform: scale(.9);
            -moz-transform: scale(.9);
            -ms-transform: scale(.9);
            -o-transform: scale(.9);
            transform: scale(.9);
          }
        }
      }

      @media screen and (max-width: 450px) {
        width: 100%;
        margin-bottom: 45px;
      }
    }
  }
  .footer_copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ddd;
    padding: 45px 0 20px;
    margin-top: 15px;
    .dev {
      margin-left: 15px;
    }

    @media screen and (max-width: 450px) {
      flex-wrap: wrap;
      .dev {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }

  @media screen and (max-width: 450px) {

    margin-bottom: 60px;
  }
}