.form-success {
  border: 4px solid #e03232;
  padding: 25px 25px 25px 0;
  .form-success-inner {
    padding: 10px;
    margin-left: -15px;
    background: #fff;
    text-align: center;
  }
}

.popup-border {
  border: 5px solid #e03232;
  padding-left: 0;
  min-width: 320px;
  .popup-border-inner {
    background: #fff;
    padding: 10px;
    margin-left: -15px;
  }
}