#panel {
  display: none;
}

.header-fixed {
  background: #fff;
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;

  .logo-column {
    padding-left: $pl_main;
    padding-right: $pr_main;
  }
  
  .menu-column {
    .header-main-contacts {
      padding-left: $pl_main;
      padding-right: $pr_main;
      .header-main-contacts_item {
        text-transform: uppercase;
        &:not(:last-child) {
          margin-right: 15px;
        }
        @media screen and (max-width: 1200px) {
          &.header-auth-item {
            display: none;
          }
        }
        @media screen and (max-width: 625px) {
          &.header-cart-item {
            display: none;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    justify-content: space-between;
  }
  @media screen and (max-width: 525px) {
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    .logo-column {
      margin-bottom: 15px;

    }
  }
}

.over-menu-toggler {
  color: #e03232;
  position: relative;
  width: 22px;
  height: 24px;
  margin-right: 30px;
  > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .closed {
    padding: 3px 0px;
    svg {
      opacity: 1;
      transform: rotate(0);
      transition: all .4s ease;
      font-size: 2.1em;
    }
    .lines {
      height: 100%;
      width: 100%;
      flex-direction: column;

      opacity: 1;
      transform: rotate(0);
      transition: all .4s ease;
      font-size: 2.1em;
      .line {
        height: 2px;
        background: #e03232;
        width: 100%;
      }
    }
  }
  .opened {
    svg {
      opacity: 0;
      transform: rotate(720deg);
      transition: all .4s ease;
    }
  }
  &.active {
    .opened {
      svg {
        opacity: 1;
        transform: rotate(0);
      }
    }
    .closed {
      .lines {
        opacity: 0;
        transform: rotate(720deg);
      }
      svg {
        opacity: 0;
        transform: rotate(720deg);
      }
    }
  }
}

.over-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  max-height: 100%;
  overflow: auto;

  background: #fff;
  z-index: 99;
  .over-menu-inner {
    padding: 30px 35px;
    font-size: 14px;

    .over-menu-cols {
      .over-menu-col {
        .top-over-col-element {
          margin-bottom: 35px;
          &.logo-column {
            margin-bottom: 40px;
            @media screen and (max-width: 768px) {
              position: absolute;
              top: 25px;
              left: 25px;
            }
          }
        }

        &.logo-col {

        }
        &.catalog-col {
          width: 32.5%;
        }
        &.contacts-col {
          width: 32.5%;
          .over-search-block {
            border: 5px solid #e03232;
            padding: 25px 25px 25px 0;
            margin-bottom: 35px;
            .form-inner {
              background: #fff;
              margin-left: -15px;
              padding: 10px;
              label {
                font-size: 1.2rem;
                font-weight: bold;
                max-width: 320px;
                display: block;
                margin-bottom: 15px;
              }
              .form-fields {
                .input-wrapper {
                  width: calc(100% - 100px);
                  margin-bottom: 0;
                }
                .btn {
                  margin-bottom: 0;
                }
              }
            }

            @media screen and (max-width: 768px) {
              border: none;
              padding: 0;
              .form-inner {
                margin-left: 0;
                padding: 0;
                label {
                  font-size: inherit;
                }
              }
            }
          }
          .contacts-info {
            .social-icon-wrapper {
              a {
                font-size: 2rem;
                color: #ececec;
                margin-right: 30px;
              }
            }
          }
        }

        &:not(.logo-col) {
          .top-over-col-element {
            padding: 5px 0;
          }
        }

        .over-menu {
          //margin-bottom: 25px;
          &.logo-col-menu {
            padding-left: 52px;
          }
          display: flex;
          flex-direction: column;
          a {
            //font-weight: bold;
            display: block;
            margin-bottom: 10px;

          }
          &.logo-col-menu {
            a {
              margin-bottom: 20px;
              &:before {
                content: '\2014';
                margin-right: 10px;
              }
            }
          }
          &.catalog-menu {
            .big-catalog-menu-items {
              margin-bottom: 35px;
              a {
                font-size: 1.4rem;
              }
            }
            .small-catalog-menu-items {
              margin-bottom: 35px;
              a {
                font-weight: 400;
                margin-right: 20px;
                font-size: 14px;
                &.dl-3 {
                  font-size: 12px;
                  color: #c1c1c1;
                }
              }
            }
          }
        }
      }
      @media screen and (max-width: 768px) {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        .over-menu-col {
          width: 100% !important;
          //padding-top: 50px;
          .over-menu {
            &.logo-col-menu {
              padding-left: 0;
            }
          }
          &.contacts-col {
            padding-top: 50px;
          }
        }
      }
    }
  }
}