.header-multilevel-menu {
  > .header-multilevel-menu_item {
    text-transform: uppercase;
    &:not(:last-child) {
      margin-right: 30px;
    }
    &.active {
      > a {
        border-bottom: 2px solid #e0e0e0;
        padding-bottom: 5px;
      }
    }
    &:hover {
      > a {
        opacity: 1;
        &:after {
          transform: scale(1);
          left: -5px;
          top: -5px;
        }
      }
    }
    > a {
      display: block;
      position: relative;
      padding-bottom: 5px;
      border-bottom: 2px solid transparent;
      &:after {
        content: '';
        display: block;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background: #e32000;
        position: absolute;
        top: -15px;
        left: -15px;
        z-index: -1;
        transform: scale(0);
        transition: all .3s ease;
      }
    }
  }

  .multilevel-menu_subitems {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    //padding: 15px;
    background: #fff;
    border-top: 1px solid #ececec;
    box-shadow: inset 0 5px 5px -5px #dedede;
    .subitems-list {
      padding: 15px 15px 15px $sidebarWidth;
      .subitems-col {
        &:not(:last-child) {
          margin-right: 60px;
        }
        .header-multilevel-menu_item {
          margin-bottom: 15px;
          &.l_2 {
            a {
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1024px) {
    display: none;
  }
}