// Navigation

.catalog-pager {
  &.bottom {
    margin: 0 auto;
    margin-top: 30px;
  }
  .catalog-page-navigation {
    .btn {
      margin-right: 10px;
      box-shadow: 0 0 5px #ccc;
      padding: 0.75em 1.5em;
      font-size: 0.8rem;
      margin-bottom: 10px;
      background: #fff;
      border-color: #ccc;
      color: #757575;
      font-weight: 400;
      &:last-child {
        margin-right: 0;
      }
      &.catalog-page-current {
        cursor: default;
        border: 2px solid $primaryRed;
        color: $primaryRed;
      }
      &.catalog-page-ajax_load {
        opacity: 1;
        cursor: pointer;
        &.loading {
          color: transparent;
          position: relative;
          &:after {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -8px;
            margin-left: -8px;
            border: 2px solid transparent;
            border-top-color: #000;
            border-right-color: #000;
            animation: rotate360 .5s linear infinite;
            border-radius: 50%;

          }
        }
      }

      &:hover {
        color: #fff;
        background: $primaryRed;
        border-color: $primaryRed;
      }
    }
  }
}


@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-ms-keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-o-keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}