.input-block-list {
  @include displayGridFlex(3, 30px);
  @media screen and (max-width: 552px) {
    @include displayGridFlex(2, 30px);
  }
  @media screen and (max-width: 450px) {
    @include displayGridFlex(1, 30px);
  }

  .input-block-item {
    @include widthFlexRepeat(3, 30px);
    @media screen and (max-width: 552px) {
      @include widthFlexRepeat(2, 30px);
    }
    @media screen and (max-width: 450px) {
      @include widthFlexRepeat(1, 30px);
    }
  }
}

.cab-form-update {
  h3 {
    .small {
      color: #bdbdbd;
      font-weight: 400;
    }
  }
  .stat-block {
    .stat-row {
      .stat-name {
        width: 30%;
      }
      .stat-value {
        width: 70%;
      }
    }
  }
  .photo-wrapper {
    .photo-image {
      width: 125px;
      height: 125px;
    }
    .placeholder {
      position: absolute;
      top: 50%;
      left: 110px;
      transform: translate(0,-50%);
      padding-left: 35px;
      .icon {
        left: -4px;
        top: -4px;
        right: auto;
        bottom: auto;
      }
    }
  }
}
