.search-popup {
  width: 500px;
  .btn {
    margin-bottom: 0;
  }
  .input-wrapper {
    height: 50px;
    margin-bottom: 0;
    width: 100%;
  }
  @media screen and (max-width: 552px) {
    width: calc(100% - 30px);
  }
  @media screen and (max-width: 450px) {
    form {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    .input-wrapper {
      margin-bottom: 30px;
    }
  }
}

.search-main-block {
  .input-wrapper {
    width: calc(100% - 100px);
    height: 50px;
    margin-bottom: 0;
  }
  .btn {
    margin-bottom: 0;
  }
}