.grid-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  position: relative;

  @media screen and (min-width: 1400px) {
    grid-template-columns: repeat(5, 1fr);
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 552px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media all and (-ms-high-contrast: none) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .catalog-item {
      width: calc(100% / 4 - 3 * 15px / 4);
      margin-bottom: 15px;
      @media all and (min-width: 1400px) {
        width: calc(100% / 5 - 4 * 15px / 5);
      }
      @media all and (max-width: 768px) {
        width: calc(100% / 3 - 2 * 15px / 3);
      }
      @media all and (max-width: 552px) {
        width: calc(100% / 2 - 1 * 15px / 2);
      }
      @media all and (max-width: 552px) {
        width: 100%;
      }
    }
  }

  &.viewed-mini-section {
    grid-template-columns: repeat(3, 1fr);
    @media screen and (min-width: 1400px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 552px) {
      grid-template-columns: 1fr;
    }

    @media all and (-ms-high-contrast: none) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .catalog-item {
        width: calc(100% / 3 - 2 * 15px / 3);
        margin-bottom: 15px;
        @media all and (min-width: 1400px) {
          width: calc(100% / 4 - 3 * 15px / 4);
        }
        @media all and (max-width: 768px) {
          width: calc(100% / 2 - 1 * 15px / 2);
        }
        @media all and (max-width: 552px) {
          width: 100%;
        }
      }
    }
  }
}

.catalog-item {
  background: #fff;
  overflow: hidden;
  position: relative;
  .catalog-item-images {
    display: flex;
    width: 100%;
    position: relative;
    opacity: 1;

    height: 200px;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;

      margin: 0 auto;
      /*max-width: 100%;
      max-height: 100%;*/
      object-fit: cover;
      display: block;

      @media all and (-ms-high-contrast: none) {
        flex: 1;
      }
    }
    .slide-item-over-image-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      &:hover {
        .slide-item-over-image-item {
          &:after {
            display: block;
          }
        }
      }
      .slide-item-over-image-item {
        height: 100%;
        flex-grow: 1;
        position: relative;
        &:after {
          content: '';
          display: none;
          width: 90%;
          height: 5px;
          background: rgba(236, 236, 236, 0.5);
          position: absolute;
          bottom: 5px;
          left: 5%;
        }
        &:hover {
          &:after {
            background: #e03232;
          }
        }
      }
    }

    .special-icons {
      position: absolute;
      top: 10px;
      right: 10px;
      .special-icon {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        &.discount {
          background: #e03232;
          color: #fff;
          font-weight: bold;
        }
      }
    }
  }
  .catalog-item-info {
    display: block;
    padding: 20px 20px 75px;
    font-size: 14px;
    opacity: 1;

    border: 1px solid #cccccc;
    border-top: none;
    height: calc(100% - 200px);

    .catalog-item-name {
      margin-bottom: 5px;
      display: block;
      color: #e03232;
      font-weight: bold;
    }
    .catalog-item-prices {
      display: block;
      font-weight: bold;
      .catalog-item-price {
        &.catalog-item-price--old {
          text-decoration: line-through;
          color: #bdbdbd;
          font-weight: 500;
          margin-right: 15px;
        }
      }
    }
    .catalog-item-address {
      margin-top: 10px;
      font-size: 12px;
      font-weight: 400;
      color: #444;
    }
    .catalog-item-properties {
      margin-top: 20px;
      font-size: 13px;
      .catalog-item-property {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        position: relative;
        margin-bottom: 5px;
        height: 18px;

        &:before {
          content: '';
          display: block;
          width: 100%;
          height: 0;
          position: absolute;
          bottom: 4px;
          border-bottom: 1px dotted;
        }

        .catalog-item-property__name,
        .catalog-item-property__value {
          position: relative;
          background: #fff;
        }
        .catalog-item-property__value {
          padding-left: 10px;
        }
        .catalog-item-property__name {
          padding-right: 10px;
        }
      }
    }
    .btn {
      &.btn-wide {
        margin-top: 20px;
        border-color: #ccc;
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 0;
        padding: 12px 20px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: auto;
        right: 20px;

        svg {
          width: 12px;
          height: 12px;
          transform: rotateY(180deg);
          margin-right: 20px;
        }
      }
    }
  }
  .favorite-icon {
    position: absolute;
    top: 10px;
    left: -50px;
    background: rgba(236, 236, 236, 0.5);
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    border: 1px solid rgba(235, 235, 235, 0.5);
    -webkit-transition: left .3s cubic-bezier(0.24, -0.02, 0.05, 1.27);
    -moz-transition: left .3s cubic-bezier(0.24, -0.02, 0.05, 1.27);
    -ms-transition: left .3s cubic-bezier(0.24, -0.02, 0.05, 1.27);
    -o-transition: left .3s cubic-bezier(0.24, -0.02, 0.05, 1.27);
    transition: left .3s cubic-bezier(0.24, -0.02, 0.05, 1.27);
    cursor: pointer;
    &.in-favorite {
      //background: #e03232;
      color: #e03232;
      left: 10px;
    }
  }

  .go-to-card {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: -25px;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 30px;
    color: #fff;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    &:hover {
      background: #e03232;
    }
  }
  &:hover {
    .go-to-card {
      opacity: 1;
    }
    .favorite-icon {
      left: 10px;
    }
  }

  &.mini-card-item {
    display: flex;
    //align-items: flex-start;
    //padding: 15px;
    .catalog-item-images {
      height: auto;
      width: 40%;
    }
    .catalog-item-info {
      padding: 5px 0 0 15px;
      font-size: 13px;
      width: 60%;
      height: auto;
      border: none;
      .catalog-item-prices {
        .catalog-item-price {
          font-size: 20px;
        }
      }
    }
  }

  &.swiper-slide {
    height: auto;
  }
}

.table-section {
  position: relative;
  .catalog-item {
    background: #fff;
    overflow: hidden;
    position: relative;
    display: flex;
    margin-bottom: 30px;

    &.table-row-headers {
      padding: 15px 0;
      .catalog-item-info {
        font-size: inherit;
      }
    }

    .catalog-item-images {
      width: 100px;
      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      &:hover {
        opacity: 1;
      }
      img {
        width: 100%;
        height: 100%;

        margin: 0 auto;
        /*max-width: 100%;
        max-height: 100%;*/
        object-fit: cover;
        display: block;

        @media all and (-ms-high-contrast: none) {
          flex: 1;
        }
      }
    }
    .catalog-item-info {
      display: flex;
      align-items: center;
      font-size: 14px;
      width: calc(100% - 100px);
      padding: 15px;

      .catalog-item-name {
        display: block;
        width: 30%;
        .action-row {
          font-size: 12px;
          margin-top: 15px;
          .action-element {
            &:not(:last-child) {
              margin-right: 30px;
            }
          }
        }
      }
      .catalog-item-prices {
        display: block;
        font-weight: bold;
        width: 20%;
        .catalog-item-price {
          &.catalog-item-price--old {
            text-decoration: line-through;
            color: #bdbdbd;
            font-weight: 500;
            margin-right: 15px;
          }
        }
      }

      .catalog-item-info-counter {
        width: 16.6%;
        text-align: center;
      }
    }
  }
}

.mini-section {
  @include displayGridFlex(8, 15px);
  .mini-section-item {
    @include widthFlexRepeat(8, 15px);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img {
      max-width: 100%;
      display: block;
      //border-radius: 50%;
    }
    .name {
      height: 28px;
      overflow: hidden;
      text-align: center;
      margin-top: 10px;
      font-weight: 400;
      position: relative;
      font-size: 12px;
      &:after {
        content: '';
        display: block;
        height: 100%;
        width: 50%;
        background: linear-gradient(90deg, transparent, #fff);
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}

.catalog-section {
  position: relative;

}

.sort-block {
  //position: absolute;
  //top: -53px;
  //right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  //text-transform: uppercase;
  .sort-block-title {
    margin-right: 15px;
  }
  .sort-block-select {
    background: none;
    //text-decoration: underline;
    //text-transform: uppercase;
    font-size: 14px;
    line-height: 1;
    
    cursor: pointer;
    width: 200px;
    margin-right: 15px;

    border: 1px solid #bdbdbd;
    -webkit-box-shadow: inset 0 2px 10px -2px rgba(0, 0, 0, .3);;
    -moz-box-shadow: inset 0 2px 10px -2px rgba(0, 0, 0, .3);;
    box-shadow: inset 0 2px 10px -2px rgba(0, 0, 0, .3);;
    border-radius: 4px;
    padding: 7px 10px;
    .select-option-list {
      padding-top: 10px;
      -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);

      .select-option {
        background: #fff;
        padding: 10px;
        &:hover {
          background: #e03232;
          color: #fff;
        }
      }
    }
  }
  @media screen and (max-width: 552px) {
    position: static;
  }
}

.cat-list-panel {
  .cat-view {
    display: flex;
    align-items: center;

    .cat-view-item {
      font-size: 1rem;
      background: #fff;
      width: 32px;
      height: 32px;
      opacity: .5;

      display: flex;
      align-items: center;
      justify-content: center;

      -webkit-box-shadow: 3px 4px 10px -3px rgba(0,0,0,.15);
      -moz-box-shadow: 3px 4px 10px -3px rgba(0,0,0,.15);
      box-shadow: 3px 4px 10px -3px rgba(0,0,0,.15);

      &:not(:last-child) {
        margin-right: 10px;
      }
      &.active {
        opacity: 1;
      }
      &.showmap {
        width: auto;
        padding: 0 10px;
        span {
          margin-left: 10px;
          font-size: 0.8rem;
        }
      }
    }
  }
}

.popular-section {
  .grid-section {
    grid-template-columns: repeat(3, 1fr);
    @media screen and (min-width: 1400px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 449px) {
      grid-template-columns: 1fr;
    }

    @media all and (-ms-high-contrast: none) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .catalog-item {
        width: calc(100% / 3 - 2 * 15px / 3);
        margin-bottom: 15px;
        @media all and (min-width: 1400px) {
          width: calc(100% / 4 - 3 * 15px / 4);
        }
        @media all and (max-width: 768px) {
          width: calc(100% / 2 - 1 * 15px / 2);
        }
        @media all and (max-width: 450px) {
          width: 100%;
        }
      }
    }
  }
}

.catalog-filter-sidebar {
  .input-wrapper {
    input {
      background: transparent;
    }
  }
}