.sidebar {
  .sidebar-inner {
    /*max-width: 200px;*/
    margin: 0 auto;
  }
  .catalog-sections-sidebar {
    font-size: 12px;
    .catalog-sections-sidebar-item {
      > a {
        padding: 10px 0;
        display: block;
        font-weight: 600;
        //text-transform: uppercase;
      }
      .sidebar-subsections {
        padding-left: 15px;
        display: none;
      }
      &.has-childs {
        position: relative;
        &:after {
          content: '+';
          pointer-events: none;
          position: absolute;
          top: 5px;
          right: 8px;
          width: 16px;
          height: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          //background: rgba(255, 255, 255, 0.5);
          border-radius: 4px;
        }
        &.opened {
          &:after {
            content: '-';
          }
          > .sidebar-subsections {
            display: block;
          }
        }
      }
      &.active {
        > a {
          font-weight: 700;
        }
      }
    }
  }

  .catalog-filter-sidebar {
    .smartfilter {
      .bx-filter-parameters-box {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 15px 0;
        .bx-filter-parameters-box-title {
          padding-bottom: 0;
          span {
            color: #000;
            border-bottom: none;
            text-transform: uppercase;
            font-weight: 300;
            display: flex;
            align-items: center;
            svg {
              font-size: 2em;
              margin-right: 10px;
              -webkit-transition: .3s ease transform;
              -moz-transition: .3s ease transform;
              -ms-transition: .3s ease transform;
              -o-transition: .3s ease transform;
              transition: .3s ease transform;
            }
          }
        }
        .bx-filter-block {
          .bx-filter-parameters-box-container {
            padding-bottom: 0;
            padding-top: 15px;
          }
          .checkbox {
            &:not(:first-child) {
              margin-top: 15px;
            }
            .bx-filter-input-checkbox {
              input[type="checkbox"] {
                display: none;
                &:checked {
                  + .bx-filter-param-text {
                    &:after {
                      content: '';
                      display: block;
                      position: absolute;
                      top: 1px;
                      left: 5px;
                      width: 5px;
                      height: 10px;
                      border: 3px solid #000;
                      border-width: 0 3px 3px 0;
                      transform: rotate(45deg);
                    }
                  }
                }
              }
              .bx-filter-param-text {
                position: relative;
                display: flex;
                align-items: center;
                &:before {
                  content: '';
                  display: block;
                  width: 16px;
                  height: 16px;
                  border: 1px solid #ccc;
                  margin-right: 10px;
                }
              }
            }
          }
        }

        &.bx-active {
          .bx-filter-parameters-box-title {
            span {
              svg {
                transform: rotate(-180deg);
              }
            }
          }
        }
      }
    }
  }

  .sidebar-icon {
    display: none;
  }

  .profile-left-infrow {
    margin-bottom: 10px;
    line-height: 1.4em;
  }

  @media screen and (max-width: 992px) {

    position: fixed;
    left: -260px;
    bottom: 0;
    width: 260px;
    height: 100%;
    z-index: 90;
    background: #fff;
    padding: 0;
    -webkit-transition: .3s ease left;
    -moz-transition: .3s ease left;
    -ms-transition: .3s ease left;
    -o-transition: .3s ease left;
    transition: .3s ease left;
    &.showed {
      left: 0;
      padding: 0;
      box-shadow: 0 0 15px #737373;
    }
    .sidebar-inner {
      padding: 25px 0;
      padding-left: $pl_main;
      padding-right: $pr_main;
      overflow: auto;
      height: 100%;
      max-width: 100%;

      background: #fff;
      z-index: 1;
      .bx-filter {
        min-width: auto;
      }
    }

    .sidebar-icon {
      position: absolute;
      top: 50%;
      left: 100%;
      margin-top: -30px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      color: #bdbdbd;
      font-size: .65rem;
      cursor: pointer;
      -webkit-border-radius: 0 4px 4px 0;
      -moz-border-radius: 0 4px 4px 0;
      border-radius: 0 4px 4px 0;
      overflow: hidden;
      -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    }
  }
}