.menu-grid-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  > a {
    border: 1px solid #ccc;
    padding: 30px;
    text-align: center;
    opacity: 1;

    svg {
      width: 70px !important;
      height: 60px;
      margin-bottom: 30px;
      color: $primaryRed;
    }
    .title {
      text-transform: uppercase;
      font-size: 19px;
      margin-bottom: 15px;
      line-height: 1.2;
      font-weight: 900;
    }

    .description {
      line-height: 1.4;
      font-weight: 400;
    }
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 552px) {
    grid-template-columns: 1fr;
  }
}

.advantages-numbers {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
  margin-top: 40px;
  .advantages-number-item {
    padding: 40px;
    text-align: center;
    position: relative;

    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
    .pre-text {
      position: absolute;
      top: 20px;
      text-align: center;
      width: 100%;
      left: 0;
      font-style: italic;
      color: $primaryRed;
    }
    .number {
      font-weight: 900;
      color: $primaryRed;
      font-size: 72px;
      line-height: 1;
    }
    .text {
      margin-top: 5px;
      font-style: italic;
      line-height: 1.4;
    }
  }

  @media screen and (max-width: 1140px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 552px) {
    grid-template-columns: 1fr;
  }
}

.sticker {
  display: inline-block;
  padding: 5px 10px;
  background: #d6a74c;
  border-radius: 4px;
  line-height: 1;
  font-weight: bold;
  color: #fff;
}