$primaryColor: #ccc;
$mainBackColor: #fff;
$greenColor: #49bd3b;
$textColorOnColoredBack: #fff;
$primaryRed: #e03232;
$primaryYellow: #d6a74c;

$sidebarWidth: 25%;
$contentWidth: 75%;

$pl_main: 35px;
$pr_main: 35px;

$littlePadding: 15px;

@mixin widthFlexRepeat($count, $grid-gap) {
  @media all and (-ms-high-contrast: none) {
    width: calc(#{100% / $count} - #{($count - 1) * $grid-gap / $count});
    margin-bottom: $grid-gap;
  }
}

@mixin displayGridFlex($count, $grid-gap) {
  display: grid;
  grid-gap: $grid-gap;
  @if ($count > 1) {
    grid-template-columns: repeat($count,1fr);
  } @else {
    grid-template-columns: 1fr;
  }

  @media all and (-ms-high-contrast: none) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin standard_transition($property) {
  -webkit-transition: 0.3s ease 0s;
  -moz-transition: 0.3s ease 0s;
  -ms-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  
  transition-property: #{$property};
}

@mixin linear-gradient($from, $to) {
  background: $to;
  background: -moz-linear-gradient(top, $from 0%, $to 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
  background: -webkit-linear-gradient(top, $from 0%,$to 100%);
  background: -o-linear-gradient(top, $from 0%,$to 100%);
  background: linear-gradient(to bottom, $from 0%,$to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}