@import "vars";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
  font-size: 12px;
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  &.menu-hovered {
    &:after {
      content: '';
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .5);
      z-index: 10;
    }
    &.z20 {
      &:after {
        z-index: 20;
      }
    }
  }
  &.ovh {
    overflow: hidden;
  }
  /*> * {
    z-index:2;
    position:relative;
  }*/
  > .footer {
    z-index: -1;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    + .footer-clone {
      width: 1px;

    }
  }
}

.wrapper {
  padding: 0 35px;

  @media screen and (max-width: 992px) {
    padding: 0;
  }
}

.flex {
  display: flex;

  &.sb {
    justify-content: space-between;
  }
}

.w100 {
  width: 100%;
}

input, textarea, select, button {
  font-family: "Open Sans";
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

.wrapper {
  padding: 0 30px;
}

.input-wrapper {
  position: relative;
  height: 50px;
  margin-bottom: 25px;
  input {
    height: 100%;
    width: 100%;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #ccc;
    padding-right: 32px;
    padding-top: 7px;
    &._err {
      border-color: red;
      ~ .placeholder {
        color: red;
      }
    }
    &[readonly] {
      //border: none;
      font-weight: bold;
    }

    &:focus {
      ~ .clear {
        display: block;
      }
    }
  }
  .clear {
    display: none;
    width: 26px;
    height: 26px;
    color: #ccc;
    position: absolute;
    bottom: 8px;
    right: 0px;
    cursor: pointer;
  }

  .placeholder {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    font-size: 15px;
    color: #777;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    pointer-events: none;
    .required {
      color: red;
    }
  }
  &.typed {
    .placeholder {
      top: -5px;
      font-size: 10px;
    }
  }
}

.photo-wrapper {
  position: relative;
  cursor: pointer;
  input[type="file"] {
    display: none;
  }
  .photo-image {
    width: 100%;
    position: relative;
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }
  .icon {
    width: 35px;
    height: 35px;
    background: #e03232;
    border-radius: 50%;
    position: absolute;
    right: 4px;
    border: 4px solid #FFF;
    bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 50%;
      height: 50%;
      color: #fff;
    }
  }
  .placeholder {
    //position: absolute;
    //top: 50%;
    //left: 110px;
    //transform: translate(0,-50%);
    color: #e03232;
    font-weight: 600;
    cursor: pointer;
    position: relative;

    font-size: 12px;
    text-align: center;
  }
}

a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
  &:hover {
    opacity: .5;
  }

  &.shine-effect {
    position: relative;
    overflow: hidden;
    &:before {
      /*content: '';
      display: block;
      width: 40%;
      height: 100%;
      background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3));
      position: absolute;
      top: -50%;
      left: -20%;
      transform: rotate(45deg);*/
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: -100%;
      left: -100%;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(209, 112, 60, 0)), color-stop(50%, rgba(255, 255, 255, 0.5)), to(rgba(209, 112, 60, 0)));
      background: linear-gradient(to bottom, rgba(209, 112, 60, 0), rgba(255, 255, 255, 0.5) 50%, rgba(209, 112, 60, 0));
      -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
      transform: rotateZ(60deg) translate(-5em, 7.5em);
    }
    &:hover {
      opacity: 1;
      &:before {
        //top: 50%;
        //left: 100%;
        transition: .6s ease;
        transform: rotateZ(60deg) translate(0%, -125%);

      }
    }
  }
}

.red {
  color: #e03232;
}

h1, .as-h1 {
  font-size: 1.8rem;
  margin: 30px 0;
}

h2 {
  font-size: 26px;
  line-height: 1;
  margin-bottom: 10px;

  + .small-description {
    margin-bottom: 25px;
    color: #656464;
  }
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
}

.fl {
  display: flex;
  &.fl-aic {
    align-items: center;
  }
  &.fl-aifs {
    align-items: flex-start;
  }
  &.fl-jcc {
    justify-content: center;
  }
  &.fl-jcsb {
    justify-content: space-between;
  }
  &.fl-jcfe {
    justify-content: flex-end;
  }
  &.fl-wrap {
    flex-wrap: wrap;
  }
  &.fl-dc {
    flex-direction: column;
  }
}

.upper {
  text-transform: uppercase;
}

.logo-text {
  font-size: 1.4rem;
  font-weight: bold;
}

.sidebar-width {
  width: $sidebarWidth;
  @media screen and (max-width: 1200px) {
    width: 33%;
  }
  @media screen and (max-width: 992px) {
    width: auto;
  }
}

.content-width {
  width: $contentWidth;

  @media screen and (max-width: 1200px) {
    $sidebarWidth: 67%;
  }
  @media screen and (max-width: 992px) {
    width: 100%;
  }
}

.center {
  text-align: center;
}

.standart-block {
  padding: 25px;
  background: #fff;
  line-height: 2;
  font-size: 14px;
  word-break: break-all;

  img {
    max-width: 100%;

    @media all and (-ms-high-contrast: none) {
      flex: 1;
    }
  }
}

.standart-row {
  padding-top: 60px;
  padding-bottom: 40px;
}

.custom-checkbox {
  cursor: pointer;
  .checkbox-icon {
    display: block;
    width: 40px;
    height: 20px;
    background: #e7e7e7;
    border-radius: 50px;
    margin-right: 15px;
    position: relative;
    box-shadow: inset 0px 2px 3px #ccc;
    overflow: hidden;
    &:after {
      content: '';
      display: block;
      height: 16px;
      width: 16px;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      top: 2px;
      left: 2px;
      box-shadow: -1px 2px 8px -2px #000;

      -webkit-transition: .3s ease left;
      -moz-transition: .3s ease left;
      -ms-transition: .3s ease left;
      -o-transition: .3s ease left;
      transition: .3s ease left;
    }
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: #e03232;
      left: -40px;
      position: absolute;
      top: 0;
      transition: left .35s ease;
      border-radius: 50px;
    }
  }
  .label {
    opacity: .5;
    width: calc(100% - 55px);
  }
  input {
    display: none;
    &:checked {
      + .checkbox-icon {
        &:after {
          left: 22px;
        }
        &:before {
          left: 0;
        }
      }
      ~ .label {
        opacity: 1;
      }
    }
  }
}

.white-bg {
  background: #fff;
}

.btn {
  border: 1px solid #000;
  //padding: 10px 15px;
  margin-bottom: 15px;
  cursor: pointer;
  //border-radius: 2px;
  font-size: 13px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 2px;
  display: inline-block;

  @include standard_transition('all');

  &.btn-wide {
    width: 100%;
    text-align: center;
  }
  &.btn-fill {
    background: $primaryRed;
    border-color: $primaryRed;
    color: #fff;
    &.loading {
      &:after {
        border-color: #fff;
        border-top-color: rgba(255, 255, 255, 0.2);
      }
    }
    &:hover {
      background: darken($primaryRed, 15%);
      border-color: darken($primaryRed, 15%);
    }
  }
  svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  &:hover {
    opacity: 1;
    background: #000;
    color: #fff;
  }

  &.loading {
    color: transparent !important;
    position: relative;
    &:after {
      animation: .5s infinite linear rotate360;
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid $primaryRed;
      border-top-color: rgba(255, 255, 255, 0.2);
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -12px;
      margin-left: -12px;
    }
  }
}

@include keyframes(rotate360);

.btn-row {
  &.btn-row-mt30 {
    margin-top: 30px;
  }
  &.fl {
    .btn {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}

.favorite-btn {
  &.in-favorite {
    background: #e43535;
    color: #fff;
    border-color: #e43535;
    .add {
      display: none;
    }
    .to-basket {
      display: block;
    }
  }

  .to-basket {
    display: none;
  }
}

.add2basket-btn {
  &.in-basket {
    background: #43a042;
    border-color: #43a042;
    .add {
      display: none;
    }
    .to-basket {
      display: block;
    }
  }

  .to-basket {
    display: none;
  }
}

.bx-breadcrumb {
  margin: 30px 0 15px;
  .bx-breadcrumb-item {
    display: inline-block;
    color: #bbb;
    a {
      border-bottom: 0;
      font-weight: 400;
      color: #bbb;
    }
    .delimeter {
      padding: 0 10px;
      position: relative;
      top: 1px;
    }
  }
}

.content-area {
  padding-bottom: 30px;
  background: #f7f7f7;

  .content-area-inner {
    width: 100%;

    .sidebar {
      padding: 0 0 25px;
      padding-left: $pl_main;
      padding-right: $pr_main;
      &:not(.sidebar-visible) {
        display: none;
        + .content {
          width: 100%;
          padding-left: $pl_main;
          @media screen and (max-width: 450px) {
            padding-left: 15px;
          }
        }
      }
    }
    .content {
      padding-right: $pr_main;

      /*.new-slider {
        margin-left: -#{$pl_main};
        margin-right: -#{$pr_main};
      }*/
      @media screen and (max-width: 992px) {
        padding-left: $pl_main;
      }

      @media screen and (max-width: 450px) {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }

  &.no-padding {
    .content-area-inner {
      .sidebar {
        &:not(.sidebar-visible) {
          + .content {
            padding-left: 0;
          }
        }
      }
      .content {
        padding-right: 0;
      }
    }
  }
}

.basket-add-popup {
  .item-image {
    margin-bottom: 15px;
  }
  .item-name {
    text-align: center;
    margin-bottom: 15px;
  }
  .btn-row {
    .btn {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}

.messages-list {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  padding-top: 91px;
  .pop-msg {
    margin: 15px;
    background: rgba(150, 220, 162, 0.9);
    padding: 25px;
    border-radius: 4px;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    box-shadow: 2px 2px 10px #ababab;
    &.error {
      background: rgba(220, 150, 150, 0.9);
    }
  }
}

.container {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
  line-height: 2;
  font-size: 14px;
  @media screen and (max-width: 1290px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

[class*=icono-arrow1]:before, [class*=icono-arrow1][class*=-up], [class*=icono-arrow2]:before, [class*=icono-arrow2][class*=-up], [class*=icono-arrow3][class*=-up], [class*=icono-arrow4][class*=-up] {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

[class*=icono] {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #121212;
  box-sizing: border-box;
}

[class*=icono-arrow2] {
  width: 0;
  height: 0;
  border-width: 3px;
  border-style: solid;
  border-bottom-color: transparent;
  border-left-color: transparent;
  margin: 20px;
}

[class*=icono]:after, [class*=icono]:before {
  content: "";
  box-sizing: border-box;
}

[class*=icono-arrow2]:before {
  right: 0;
  top: -1px;
  position: absolute;
  height: 1px;
  box-shadow: inset 0 0 0 32px;
  width: 40px;
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
}

[class*=icono-arrow1]:before, [class*=icono-arrow1][class*=-up], [class*=icono-arrow2]:before, [class*=icono-arrow2][class*=-up], [class*=icono-arrow3][class*=-up], [class*=icono-arrow4][class*=-up] {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

[class*=icono]:after, [class*=icono]:before {
  content: "";
  box-sizing: border-box;
}

.arrow-to-top {
  position: fixed;
  left: 30px;
  top: 50%;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    left: -5px;
    top: 80%;
  }
}

table {
  border: none;
  td {
    padding: 0 15px;
  }
  tr {
    &:nth-child(2n+1) {
      background: rgba(0, 0, 0, 0.03);
    }
  }
}

.TS_tab-wrapper {
  .tab-header {
    display: flex;
    .TS_tab-title {
      padding: 15px 20px;
      display: block;
      border: 1px solid #ececec;
      &.active {
        border-bottom-color: #fff;
        font-weight: bold;
      }
      &:not(:first-child) {
        margin-left: -1px;
      }
      &:not(.active) {
        box-shadow: inset 4px 4px 10px -5px #ccc;
        background: #fbfbfb;
        cursor: pointer;
      }
      &:first-child {
        -webkit-border-radius: 4px 0 0 0;
        -moz-border-radius: 4px 0 0 0;
        border-radius: 4px 0 0 0;
      }
      &:last-child {
        -webkit-border-radius: 0 4px 0 0;
        -moz-border-radius: 0 4px 0 0;
        border-radius: 0 4px 0 0;
      }
    }
  }
  .tab-bodies {
    margin-top: -1px;
    border: 1px solid #ececec;
    padding: 25px;
    .TS_tab-body {
      display: none;
      &.active {
        display: block;
      }
    }
    table {
      width: 100%;
      margin-bottom: 30px;
      border-collapse: collapse;
      td, th {
        text-align: center;
        padding: 10px 20px;
        &.hover {
          background: #e03232;
          color: #fff;
        }
      }
      tr {
        &.hover {
          td {
            background: #e03232;
            color: #fff;
          }
        }
      }
    }
  }
}

.test {

}

.banners-list {
  .banners-item {
    @media screen and (max-width: 992px) {
      display: block;
      margin: 0 auto 30px;
      float: none;
    }
  }
}

.imggal___wrapper {
  @media screen and (max-width: 768px) {
    height: auto;
  }
  .img_block {
    @media screen and (max-width: 768px) {
      &.n1,
      &.n2,
      &.n3,
      &.n4,
      &.n5 {
        width: 100%;
        height: 400px;

        position: static;
        transform: translate(0, 0);
        border: none;
        margin-bottom: 10px;
        .hdg_text {
          h3 {
            font-size: 32px;
          }
        }
      }
    }
  }
}

.sizes-table {
  table {
    td {
      word-break: normal;
    }
  }
}

.table-scroll-wrapper {
  width: 100%;
  @media screen and (max-width: 768px) {
    overflow: auto;

  }
}

table.table-std {
  width: 100%;
  border-collapse: collapse;

  > thead {

    > tr {

      background: none;

      > th {
        padding: 20px;
        text-align: left;
        border: #fff solid 2px;
      }

    }

  }

  > tbody {

    > tr {

      background: #efefef;

      > td {
        padding: 20px;
        text-align: left;
        border: #fff solid 2px;
      }

    }

  }
}

[data-href] {
  cursor: pointer;
}

.bar-wrapper {
  width: 60px;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 21;
  color: #fff;
  overflow-y: auto;

  border-right: 1px solid #f7f7f7;
  //-webkit-box-shadow: 0 95px 20px 0 rgba(0, 0, 0, 0.1);
  //-moz-box-shadow: 0 95px 20px 0 rgba(0, 0, 0, 0.1);
  //box-shadow: 0 95px 20px 0 rgba(0, 0, 0, 0.1);
  .bar-icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0;
    color: #bdbdbd;
    border-top: 1px solid #f7f7f7;
    &:last-child {
      border-bottom: 1px solid #f7f7f7;
    }

    &:hover {
      color: #000;
      opacity: 1;
    }

    > span {
      margin-top: 10px;
    }

    &.over-menu-toggler {
      width: 22px;
      margin: 34px auto 0;
      margin-bottom: 33px;
      padding: 0;

      span {
        margin-top: 0;
      }
    }

    &.has-elems {
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background: #e03232;
        border-radius: 50%;
        bottom: 14px;
        right: 16px;
        position: absolute;
      }
    }
  }

  ~ .content-area {
    padding-left: 60px;
  }
  ~ .footer {
    padding-left: 95px;
  }

  @media screen and (max-width: 992px) {
    display: none;
    ~ .content-area {
      padding-left: 0px;
    }
    ~ .footer {
      padding-left: 35px;
    }
  }
}

.small {
  font-size: 0.7rem;
}

.swiper-navigation {
  .swiper-navigation-arrow {
    position: absolute;
    top: 0;
    width: 10%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:before {
      content: '';
      display: block;
      width: 60px;
      height: 60px;
      border: 2px solid #fff;
    }
    &:hover {
      background: rgba(0, 0, 0, .2);
    }

    &.left {
      left: 0;
      &:before {
        margin-left: 15px;
        border-width: 2px 0 0 2px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }

    &.right {
      right: 0;
      &:before {
        margin-right: 15px;

        border-width: 2px 2px 0 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}

.cat-list-panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.title-ico {
  font-size: 18px;

  > * {
    display: block;
    margin-right: 15px;
    color: #b7b7b7;
  }
}

.share-ico {
  position: relative;

  svg {
    cursor: pointer;
  }

  &:hover {

    .share-list {
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      padding-top: 5px;
    }

  }

  .share-list {

    display: none;

    .ya-share2__container_size_m {
      .ya-share2__item {
        margin: 0;
      }
    }

    .ya-share2__badge {
      border-radius: 0;
      padding: 6px 10px;
    }

    .ya-share2__icon {
      &:active {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
      }
    }
  }
}

.swiper-pagination {
  position: static;
  margin-top: 30px;
  .swiper-pagination-bullet {
    background: #d6a74c;
    &.swiper-pagination-bullet-active {
      background: #d6a74c;
    }
  }
}

// header
@import "header";
// footer
@import "footer";
// sidebar styles
@import "sidebar";
// section styles
@import "section";
// pager styles
@import "pager";
// basket column styles
@import "basket_column";
// basket main styles
@import "basket_main";
// contacts styles
@import "contacts";
// search styles
@import "search";
// forms styles
@import "forms";
// personal styles
@import "personal";
// executors styles
@import "statically";