* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

body {
  font-size: 12px;
  font-family: "Open Sans";
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  /*> * {
    z-index:2;
    position:relative;
  }*/ }
  body.menu-hovered:after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10; }
  body.menu-hovered.z20:after {
    z-index: 20; }
  body.ovh {
    overflow: hidden; }
  body > .footer {
    z-index: -1;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; }
    body > .footer + .footer-clone {
      width: 1px; }

.wrapper {
  padding: 0 35px; }
  @media screen and (max-width: 992px) {
    .wrapper {
      padding: 0; } }

.flex {
  display: flex; }
  .flex.sb {
    justify-content: space-between; }

.w100 {
  width: 100%; }

input, textarea, select, button {
  font-family: "Open Sans"; }

input[type=number]::-webkit-inner-spin-button {
  opacity: 1; }

.wrapper {
  padding: 0 30px; }

.input-wrapper {
  position: relative;
  height: 50px;
  margin-bottom: 25px; }
  .input-wrapper input {
    height: 100%;
    width: 100%;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #ccc;
    padding-right: 32px;
    padding-top: 7px; }
    .input-wrapper input._err {
      border-color: red; }
      .input-wrapper input._err ~ .placeholder {
        color: red; }
    .input-wrapper input[readonly] {
      font-weight: bold; }
    .input-wrapper input:focus ~ .clear {
      display: block; }
  .input-wrapper .clear {
    display: none;
    width: 26px;
    height: 26px;
    color: #ccc;
    position: absolute;
    bottom: 8px;
    right: 0px;
    cursor: pointer; }
  .input-wrapper .placeholder {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    font-size: 15px;
    color: #777;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    pointer-events: none; }
    .input-wrapper .placeholder .required {
      color: red; }
  .input-wrapper.typed .placeholder {
    top: -5px;
    font-size: 10px; }

.photo-wrapper {
  position: relative;
  cursor: pointer; }
  .photo-wrapper input[type="file"] {
    display: none; }
  .photo-wrapper .photo-image {
    width: 100%;
    position: relative; }
    .photo-wrapper .photo-image img {
      border-radius: 50%;
      width: 100%;
      height: 100%; }
  .photo-wrapper .icon {
    width: 35px;
    height: 35px;
    background: #e03232;
    border-radius: 50%;
    position: absolute;
    right: 4px;
    border: 4px solid #FFF;
    bottom: 4px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .photo-wrapper .icon svg {
      width: 50%;
      height: 50%;
      color: #fff; }
  .photo-wrapper .placeholder {
    color: #e03232;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    font-size: 12px;
    text-align: center; }

a {
  color: #000;
  text-decoration: none;
  font-weight: 600; }
  a:hover {
    opacity: .5; }
  a.shine-effect {
    position: relative;
    overflow: hidden; }
    a.shine-effect:before {
      /*content: '';
      display: block;
      width: 40%;
      height: 100%;
      background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3));
      position: absolute;
      top: -50%;
      left: -20%;
      transform: rotate(45deg);*/
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: -100%;
      left: -100%;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(209, 112, 60, 0)), color-stop(50%, rgba(255, 255, 255, 0.5)), to(rgba(209, 112, 60, 0)));
      background: linear-gradient(to bottom, rgba(209, 112, 60, 0), rgba(255, 255, 255, 0.5) 50%, rgba(209, 112, 60, 0));
      -webkit-transform: rotateZ(60deg) translate(-5em, 7.5em);
      transform: rotateZ(60deg) translate(-5em, 7.5em); }
    a.shine-effect:hover {
      opacity: 1; }
      a.shine-effect:hover:before {
        transition: .6s ease;
        transform: rotateZ(60deg) translate(0%, -125%); }

.red {
  color: #e03232; }

h1, .as-h1 {
  font-size: 1.8rem;
  margin: 30px 0; }

h2 {
  font-size: 26px;
  line-height: 1;
  margin-bottom: 10px; }
  h2 + .small-description {
    margin-bottom: 25px;
    color: #656464; }

.tac {
  text-align: center; }

.tal {
  text-align: left; }

.fl {
  display: flex; }
  .fl.fl-aic {
    align-items: center; }
  .fl.fl-aifs {
    align-items: flex-start; }
  .fl.fl-jcc {
    justify-content: center; }
  .fl.fl-jcsb {
    justify-content: space-between; }
  .fl.fl-jcfe {
    justify-content: flex-end; }
  .fl.fl-wrap {
    flex-wrap: wrap; }
  .fl.fl-dc {
    flex-direction: column; }

.upper {
  text-transform: uppercase; }

.logo-text {
  font-size: 1.4rem;
  font-weight: bold; }

.sidebar-width {
  width: 25%; }
  @media screen and (max-width: 1200px) {
    .sidebar-width {
      width: 33%; } }
  @media screen and (max-width: 992px) {
    .sidebar-width {
      width: auto; } }

.content-width {
  width: 75%; }
  @media screen and (max-width: 992px) {
    .content-width {
      width: 100%; } }

.center {
  text-align: center; }

.standart-block {
  padding: 25px;
  background: #fff;
  line-height: 2;
  font-size: 14px;
  word-break: break-all; }
  .standart-block img {
    max-width: 100%; }
    @media all and (-ms-high-contrast: none) {
      .standart-block img {
        flex: 1; } }

.standart-row {
  padding-top: 60px;
  padding-bottom: 40px; }

.custom-checkbox {
  cursor: pointer; }
  .custom-checkbox .checkbox-icon {
    display: block;
    width: 40px;
    height: 20px;
    background: #e7e7e7;
    border-radius: 50px;
    margin-right: 15px;
    position: relative;
    box-shadow: inset 0px 2px 3px #ccc;
    overflow: hidden; }
    .custom-checkbox .checkbox-icon:after {
      content: '';
      display: block;
      height: 16px;
      width: 16px;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      top: 2px;
      left: 2px;
      box-shadow: -1px 2px 8px -2px #000;
      -webkit-transition: .3s ease left;
      -moz-transition: .3s ease left;
      -ms-transition: .3s ease left;
      -o-transition: .3s ease left;
      transition: .3s ease left; }
    .custom-checkbox .checkbox-icon:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: #e03232;
      left: -40px;
      position: absolute;
      top: 0;
      transition: left .35s ease;
      border-radius: 50px; }
  .custom-checkbox .label {
    opacity: .5;
    width: calc(100% - 55px); }
  .custom-checkbox input {
    display: none; }
    .custom-checkbox input:checked + .checkbox-icon:after {
      left: 22px; }
    .custom-checkbox input:checked + .checkbox-icon:before {
      left: 0; }
    .custom-checkbox input:checked ~ .label {
      opacity: 1; }

.white-bg {
  background: #fff; }

.btn {
  border: 1px solid #000;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 2px;
  display: inline-block;
  -webkit-transition: 0.3s ease 0s;
  -moz-transition: 0.3s ease 0s;
  -ms-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
  transition-property: all; }
  .btn.btn-wide {
    width: 100%;
    text-align: center; }
  .btn.btn-fill {
    background: #e03232;
    border-color: #e03232;
    color: #fff; }
    .btn.btn-fill.loading:after {
      border-color: #fff;
      border-top-color: rgba(255, 255, 255, 0.2); }
    .btn.btn-fill:hover {
      background: #ac1a1a;
      border-color: #ac1a1a; }
  .btn svg {
    width: 20px;
    height: 20px;
    margin-right: 10px; }
  .btn:hover {
    opacity: 1;
    background: #000;
    color: #fff; }
  .btn.loading {
    color: transparent !important;
    position: relative; }
    .btn.loading:after {
      animation: .5s infinite linear rotate360;
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid #e03232;
      border-top-color: rgba(255, 255, 255, 0.2);
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -12px;
      margin-left: -12px; }

@-webkit-keyframes rotate360 {}
@-moz-keyframes rotate360 {}
@-ms-keyframes rotate360 {}
.btn-row.btn-row-mt30 {
  margin-top: 30px; }
.btn-row.fl .btn:not(:last-child) {
  margin-right: 15px; }

.favorite-btn.in-favorite {
  background: #e43535;
  color: #fff;
  border-color: #e43535; }
  .favorite-btn.in-favorite .add {
    display: none; }
  .favorite-btn.in-favorite .to-basket {
    display: block; }
.favorite-btn .to-basket {
  display: none; }

.add2basket-btn.in-basket {
  background: #43a042;
  border-color: #43a042; }
  .add2basket-btn.in-basket .add {
    display: none; }
  .add2basket-btn.in-basket .to-basket {
    display: block; }
.add2basket-btn .to-basket {
  display: none; }

.bx-breadcrumb {
  margin: 30px 0 15px; }
  .bx-breadcrumb .bx-breadcrumb-item {
    display: inline-block;
    color: #bbb; }
    .bx-breadcrumb .bx-breadcrumb-item a {
      border-bottom: 0;
      font-weight: 400;
      color: #bbb; }
    .bx-breadcrumb .bx-breadcrumb-item .delimeter {
      padding: 0 10px;
      position: relative;
      top: 1px; }

.content-area {
  padding-bottom: 30px;
  background: #f7f7f7; }
  .content-area .content-area-inner {
    width: 100%; }
    .content-area .content-area-inner .sidebar {
      padding: 0 0 25px;
      padding-left: 35px;
      padding-right: 35px; }
      .content-area .content-area-inner .sidebar:not(.sidebar-visible) {
        display: none; }
        .content-area .content-area-inner .sidebar:not(.sidebar-visible) + .content {
          width: 100%;
          padding-left: 35px; }
          @media screen and (max-width: 450px) {
            .content-area .content-area-inner .sidebar:not(.sidebar-visible) + .content {
              padding-left: 15px; } }
    .content-area .content-area-inner .content {
      padding-right: 35px;
      /*.new-slider {
        margin-left: -35px;
        margin-right: -35px;
      }*/ }
      @media screen and (max-width: 992px) {
        .content-area .content-area-inner .content {
          padding-left: 35px; } }
      @media screen and (max-width: 450px) {
        .content-area .content-area-inner .content {
          padding-right: 15px;
          padding-left: 15px; } }
  .content-area.no-padding .content-area-inner .sidebar:not(.sidebar-visible) + .content {
    padding-left: 0; }
  .content-area.no-padding .content-area-inner .content {
    padding-right: 0; }

.basket-add-popup .item-image {
  margin-bottom: 15px; }
.basket-add-popup .item-name {
  text-align: center;
  margin-bottom: 15px; }
.basket-add-popup .btn-row .btn:not(:last-child) {
  margin-right: 15px; }

.messages-list {
  position: fixed;
  top: 0;
  right: 0;
  width: 320px;
  padding-top: 91px; }
  .messages-list .pop-msg {
    margin: 15px;
    background: rgba(150, 220, 162, 0.9);
    padding: 25px;
    border-radius: 4px;
    color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    box-shadow: 2px 2px 10px #ababab; }
    .messages-list .pop-msg.error {
      background: rgba(220, 150, 150, 0.9); }

.container {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
  line-height: 2;
  font-size: 14px; }
  @media screen and (max-width: 1290px) {
    .container {
      padding-left: 15px;
      padding-right: 15px; } }

[class*=icono-arrow1]:before, [class*=icono-arrow1][class*=-up], [class*=icono-arrow2]:before, [class*=icono-arrow2][class*=-up], [class*=icono-arrow3][class*=-up], [class*=icono-arrow4][class*=-up] {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

[class*=icono] {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #121212;
  box-sizing: border-box; }

[class*=icono-arrow2] {
  width: 0;
  height: 0;
  border-width: 3px;
  border-style: solid;
  border-bottom-color: transparent;
  border-left-color: transparent;
  margin: 20px; }

[class*=icono]:after, [class*=icono]:before {
  content: "";
  box-sizing: border-box; }

[class*=icono-arrow2]:before {
  right: 0;
  top: -1px;
  position: absolute;
  height: 1px;
  box-shadow: inset 0 0 0 32px;
  width: 40px;
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top; }

[class*=icono-arrow1]:before, [class*=icono-arrow1][class*=-up], [class*=icono-arrow2]:before, [class*=icono-arrow2][class*=-up], [class*=icono-arrow3][class*=-up], [class*=icono-arrow4][class*=-up] {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

[class*=icono]:after, [class*=icono]:before {
  content: "";
  box-sizing: border-box; }

.arrow-to-top {
  position: fixed;
  left: 30px;
  top: 50%;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .arrow-to-top {
      left: -5px;
      top: 80%; } }

table {
  border: none; }
  table td {
    padding: 0 15px; }
  table tr:nth-child(2n+1) {
    background: rgba(0, 0, 0, 0.03); }

.TS_tab-wrapper .tab-header {
  display: flex; }
  .TS_tab-wrapper .tab-header .TS_tab-title {
    padding: 15px 20px;
    display: block;
    border: 1px solid #ececec; }
    .TS_tab-wrapper .tab-header .TS_tab-title.active {
      border-bottom-color: #fff;
      font-weight: bold; }
    .TS_tab-wrapper .tab-header .TS_tab-title:not(:first-child) {
      margin-left: -1px; }
    .TS_tab-wrapper .tab-header .TS_tab-title:not(.active) {
      box-shadow: inset 4px 4px 10px -5px #ccc;
      background: #fbfbfb;
      cursor: pointer; }
    .TS_tab-wrapper .tab-header .TS_tab-title:first-child {
      -webkit-border-radius: 4px 0 0 0;
      -moz-border-radius: 4px 0 0 0;
      border-radius: 4px 0 0 0; }
    .TS_tab-wrapper .tab-header .TS_tab-title:last-child {
      -webkit-border-radius: 0 4px 0 0;
      -moz-border-radius: 0 4px 0 0;
      border-radius: 0 4px 0 0; }
.TS_tab-wrapper .tab-bodies {
  margin-top: -1px;
  border: 1px solid #ececec;
  padding: 25px; }
  .TS_tab-wrapper .tab-bodies .TS_tab-body {
    display: none; }
    .TS_tab-wrapper .tab-bodies .TS_tab-body.active {
      display: block; }
  .TS_tab-wrapper .tab-bodies table {
    width: 100%;
    margin-bottom: 30px;
    border-collapse: collapse; }
    .TS_tab-wrapper .tab-bodies table td, .TS_tab-wrapper .tab-bodies table th {
      text-align: center;
      padding: 10px 20px; }
      .TS_tab-wrapper .tab-bodies table td.hover, .TS_tab-wrapper .tab-bodies table th.hover {
        background: #e03232;
        color: #fff; }
    .TS_tab-wrapper .tab-bodies table tr.hover td {
      background: #e03232;
      color: #fff; }

@media screen and (max-width: 992px) {
  .banners-list .banners-item {
    display: block;
    margin: 0 auto 30px;
    float: none; } }

@media screen and (max-width: 768px) {
  .imggal___wrapper {
    height: auto; } }
@media screen and (max-width: 768px) {
  .imggal___wrapper .img_block.n1, .imggal___wrapper .img_block.n2, .imggal___wrapper .img_block.n3, .imggal___wrapper .img_block.n4, .imggal___wrapper .img_block.n5 {
    width: 100%;
    height: 400px;
    position: static;
    transform: translate(0, 0);
    border: none;
    margin-bottom: 10px; }
    .imggal___wrapper .img_block.n1 .hdg_text h3, .imggal___wrapper .img_block.n2 .hdg_text h3, .imggal___wrapper .img_block.n3 .hdg_text h3, .imggal___wrapper .img_block.n4 .hdg_text h3, .imggal___wrapper .img_block.n5 .hdg_text h3 {
      font-size: 32px; } }

.sizes-table table td {
  word-break: normal; }

.table-scroll-wrapper {
  width: 100%; }
  @media screen and (max-width: 768px) {
    .table-scroll-wrapper {
      overflow: auto; } }

table.table-std {
  width: 100%;
  border-collapse: collapse; }
  table.table-std > thead > tr {
    background: none; }
    table.table-std > thead > tr > th {
      padding: 20px;
      text-align: left;
      border: #fff solid 2px; }
  table.table-std > tbody > tr {
    background: #efefef; }
    table.table-std > tbody > tr > td {
      padding: 20px;
      text-align: left;
      border: #fff solid 2px; }

[data-href] {
  cursor: pointer; }

.bar-wrapper {
  width: 60px;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 21;
  color: #fff;
  overflow-y: auto;
  border-right: 1px solid #f7f7f7; }
  .bar-wrapper .bar-icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 0;
    color: #bdbdbd;
    border-top: 1px solid #f7f7f7; }
    .bar-wrapper .bar-icon:last-child {
      border-bottom: 1px solid #f7f7f7; }
    .bar-wrapper .bar-icon:hover {
      color: #000;
      opacity: 1; }
    .bar-wrapper .bar-icon > span {
      margin-top: 10px; }
    .bar-wrapper .bar-icon.over-menu-toggler {
      width: 22px;
      margin: 34px auto 0;
      margin-bottom: 33px;
      padding: 0; }
      .bar-wrapper .bar-icon.over-menu-toggler span {
        margin-top: 0; }
    .bar-wrapper .bar-icon.has-elems {
      position: relative; }
      .bar-wrapper .bar-icon.has-elems:after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background: #e03232;
        border-radius: 50%;
        bottom: 14px;
        right: 16px;
        position: absolute; }
  .bar-wrapper ~ .content-area {
    padding-left: 60px; }
  .bar-wrapper ~ .footer {
    padding-left: 95px; }
  @media screen and (max-width: 992px) {
    .bar-wrapper {
      display: none; }
      .bar-wrapper ~ .content-area {
        padding-left: 0px; }
      .bar-wrapper ~ .footer {
        padding-left: 35px; } }

.small {
  font-size: 0.7rem; }

.swiper-navigation .swiper-navigation-arrow {
  position: absolute;
  top: 0;
  width: 10%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  .swiper-navigation .swiper-navigation-arrow:before {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    border: 2px solid #fff; }
  .swiper-navigation .swiper-navigation-arrow:hover {
    background: rgba(0, 0, 0, 0.2); }
  .swiper-navigation .swiper-navigation-arrow.left {
    left: 0; }
    .swiper-navigation .swiper-navigation-arrow.left:before {
      margin-left: 15px;
      border-width: 2px 0 0 2px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .swiper-navigation .swiper-navigation-arrow.right {
    right: 0; }
    .swiper-navigation .swiper-navigation-arrow.right:before {
      margin-right: 15px;
      border-width: 2px 2px 0 0;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }

.cat-list-panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px; }

.title-ico {
  font-size: 18px; }
  .title-ico > * {
    display: block;
    margin-right: 15px;
    color: #b7b7b7; }

.share-ico {
  position: relative; }
  .share-ico svg {
    cursor: pointer; }
  .share-ico:hover .share-list {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 5px; }
  .share-ico .share-list {
    display: none; }
    .share-ico .share-list .ya-share2__container_size_m .ya-share2__item {
      margin: 0; }
    .share-ico .share-list .ya-share2__badge {
      border-radius: 0;
      padding: 6px 10px; }
    .share-ico .share-list .ya-share2__icon:active {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }

.swiper-pagination {
  position: static;
  margin-top: 30px; }
  .swiper-pagination .swiper-pagination-bullet {
    background: #d6a74c; }
    .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
      background: #d6a74c; }

#panel {
  display: none; }

.header-fixed {
  background: #fff;
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20; }
  .header-fixed .logo-column {
    padding-left: 35px;
    padding-right: 35px; }
  .header-fixed .menu-column .header-main-contacts {
    padding-left: 35px;
    padding-right: 35px; }
    .header-fixed .menu-column .header-main-contacts .header-main-contacts_item {
      text-transform: uppercase; }
      .header-fixed .menu-column .header-main-contacts .header-main-contacts_item:not(:last-child) {
        margin-right: 15px; }
      @media screen and (max-width: 1200px) {
        .header-fixed .menu-column .header-main-contacts .header-main-contacts_item.header-auth-item {
          display: none; } }
      @media screen and (max-width: 625px) {
        .header-fixed .menu-column .header-main-contacts .header-main-contacts_item.header-cart-item {
          display: none; } }
  @media screen and (max-width: 1024px) {
    .header-fixed {
      justify-content: space-between; } }
  @media screen and (max-width: 525px) {
    .header-fixed {
      flex-direction: column;
      align-items: center;
      padding: 15px 0; }
      .header-fixed .logo-column {
        margin-bottom: 15px; } }

.over-menu-toggler {
  color: #e03232;
  position: relative;
  width: 22px;
  height: 24px;
  margin-right: 30px; }
  .over-menu-toggler > span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .over-menu-toggler .closed {
    padding: 3px 0px; }
    .over-menu-toggler .closed svg {
      opacity: 1;
      transform: rotate(0);
      transition: all .4s ease;
      font-size: 2.1em; }
    .over-menu-toggler .closed .lines {
      height: 100%;
      width: 100%;
      flex-direction: column;
      opacity: 1;
      transform: rotate(0);
      transition: all .4s ease;
      font-size: 2.1em; }
      .over-menu-toggler .closed .lines .line {
        height: 2px;
        background: #e03232;
        width: 100%; }
  .over-menu-toggler .opened svg {
    opacity: 0;
    transform: rotate(720deg);
    transition: all .4s ease; }
  .over-menu-toggler.active .opened svg {
    opacity: 1;
    transform: rotate(0); }
  .over-menu-toggler.active .closed .lines {
    opacity: 0;
    transform: rotate(720deg); }
  .over-menu-toggler.active .closed svg {
    opacity: 0;
    transform: rotate(720deg); }

.over-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  max-height: 100%;
  overflow: auto;
  background: #fff;
  z-index: 99; }
  .over-menu-wrapper .over-menu-inner {
    padding: 30px 35px;
    font-size: 14px; }
    .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col .top-over-col-element {
      margin-bottom: 35px; }
      .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col .top-over-col-element.logo-column {
        margin-bottom: 40px; }
        @media screen and (max-width: 768px) {
          .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col .top-over-col-element.logo-column {
            position: absolute;
            top: 25px;
            left: 25px; } }
    .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col.catalog-col {
      width: 32.5%; }
    .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col.contacts-col {
      width: 32.5%; }
      .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col.contacts-col .over-search-block {
        border: 5px solid #e03232;
        padding: 25px 25px 25px 0;
        margin-bottom: 35px; }
        .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col.contacts-col .over-search-block .form-inner {
          background: #fff;
          margin-left: -15px;
          padding: 10px; }
          .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col.contacts-col .over-search-block .form-inner label {
            font-size: 1.2rem;
            font-weight: bold;
            max-width: 320px;
            display: block;
            margin-bottom: 15px; }
          .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col.contacts-col .over-search-block .form-inner .form-fields .input-wrapper {
            width: calc(100% - 100px);
            margin-bottom: 0; }
          .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col.contacts-col .over-search-block .form-inner .form-fields .btn {
            margin-bottom: 0; }
        @media screen and (max-width: 768px) {
          .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col.contacts-col .over-search-block {
            border: none;
            padding: 0; }
            .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col.contacts-col .over-search-block .form-inner {
              margin-left: 0;
              padding: 0; }
              .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col.contacts-col .over-search-block .form-inner label {
                font-size: inherit; } }
      .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col.contacts-col .contacts-info .social-icon-wrapper a {
        font-size: 2rem;
        color: #ececec;
        margin-right: 30px; }
    .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col:not(.logo-col) .top-over-col-element {
      padding: 5px 0; }
    .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col .over-menu {
      display: flex;
      flex-direction: column; }
      .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col .over-menu.logo-col-menu {
        padding-left: 52px; }
      .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col .over-menu a {
        display: block;
        margin-bottom: 10px; }
      .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col .over-menu.logo-col-menu a {
        margin-bottom: 20px; }
        .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col .over-menu.logo-col-menu a:before {
          content: '\2014';
          margin-right: 10px; }
      .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col .over-menu.catalog-menu .big-catalog-menu-items {
        margin-bottom: 35px; }
        .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col .over-menu.catalog-menu .big-catalog-menu-items a {
          font-size: 1.4rem; }
      .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col .over-menu.catalog-menu .small-catalog-menu-items {
        margin-bottom: 35px; }
        .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col .over-menu.catalog-menu .small-catalog-menu-items a {
          font-weight: 400;
          margin-right: 20px;
          font-size: 14px; }
          .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col .over-menu.catalog-menu .small-catalog-menu-items a.dl-3 {
            font-size: 12px;
            color: #c1c1c1; }
    @media screen and (max-width: 768px) {
      .over-menu-wrapper .over-menu-inner .over-menu-cols {
        flex-wrap: wrap;
        flex-direction: column-reverse; }
        .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col {
          width: 100% !important; }
          .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col .over-menu.logo-col-menu {
            padding-left: 0; }
          .over-menu-wrapper .over-menu-inner .over-menu-cols .over-menu-col.contacts-col {
            padding-top: 50px; } }

.footer {
  padding: 30px 0;
  padding-left: 35px;
  padding-right: 35px;
  background: #ececec;
  border-bottom: 10px solid #000; }
  .footer .footer-columns-row .footer-column.logo-column {
    color: rgba(0, 0, 0, 0.6); }
    .footer .footer-columns-row .footer-column.logo-column p {
      font-size: 10px;
      max-width: 200px;
      line-height: 1.4; }
  .footer .footer-columns-row .footer-column .footer-column-label {
    margin-bottom: 20px;
    display: block;
    height: 34px;
    text-transform: uppercase; }
  .footer .footer-columns-row .footer-column .footer-menu {
    display: flex;
    flex-direction: column; }
    .footer .footer-columns-row .footer-column .footer-menu a {
      display: block;
      margin-bottom: 10px; }
  .footer .footer-columns-row .footer-column .social-icon-wrapper {
    margin-top: 15px; }
    .footer .footer-columns-row .footer-column .social-icon-wrapper > a {
      width: 40px;
      height: 40px;
      display: block;
      color: #fff;
      border-radius: 50%;
      overflow: hidden;
      background: #0400ff;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      /*&.facebook {
        color: #4267b2;
      }
      &.vk {
        color: #4a76a8;
      }
      &.insta {
        color: #000;
      }*/
      -webkit-transition: .3s ease transform;
      -moz-transition: .3s ease transform;
      -ms-transition: .3s ease transform;
      -o-transition: .3s ease transform;
      transition: .3s ease transform; }
      .footer .footer-columns-row .footer-column .social-icon-wrapper > a:not(:last-child) {
        margin-right: 15px; }
      .footer .footer-columns-row .footer-column .social-icon-wrapper > a svg {
        width: 16px;
        height: 16px; }
      .footer .footer-columns-row .footer-column .social-icon-wrapper > a.facebook {
        background: #3b5998; }
      .footer .footer-columns-row .footer-column .social-icon-wrapper > a.vk {
        background: #4a76a8; }
      .footer .footer-columns-row .footer-column .social-icon-wrapper > a.insta {
        background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, red, #ff0); }
      .footer .footer-columns-row .footer-column .social-icon-wrapper > a.hovered {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1); }
      .footer .footer-columns-row .footer-column .social-icon-wrapper > a.smalled {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9); }
  @media screen and (max-width: 450px) {
    .footer .footer-columns-row .footer-column {
      width: 100%;
      margin-bottom: 45px; } }
  .footer .footer_copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ddd;
    padding: 45px 0 20px;
    margin-top: 15px; }
    .footer .footer_copyright .dev {
      margin-left: 15px; }
    @media screen and (max-width: 450px) {
      .footer .footer_copyright {
        flex-wrap: wrap; }
        .footer .footer_copyright .dev {
          width: 100%;
          text-align: center;
          margin-left: 0;
          margin-top: 20px; } }
  @media screen and (max-width: 450px) {
    .footer {
      margin-bottom: 60px; } }

.sidebar .sidebar-inner {
  /*max-width: 200px;*/
  margin: 0 auto; }
.sidebar .catalog-sections-sidebar {
  font-size: 12px; }
  .sidebar .catalog-sections-sidebar .catalog-sections-sidebar-item > a {
    padding: 10px 0;
    display: block;
    font-weight: 600; }
  .sidebar .catalog-sections-sidebar .catalog-sections-sidebar-item .sidebar-subsections {
    padding-left: 15px;
    display: none; }
  .sidebar .catalog-sections-sidebar .catalog-sections-sidebar-item.has-childs {
    position: relative; }
    .sidebar .catalog-sections-sidebar .catalog-sections-sidebar-item.has-childs:after {
      content: '+';
      pointer-events: none;
      position: absolute;
      top: 5px;
      right: 8px;
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px; }
    .sidebar .catalog-sections-sidebar .catalog-sections-sidebar-item.has-childs.opened:after {
      content: '-'; }
    .sidebar .catalog-sections-sidebar .catalog-sections-sidebar-item.has-childs.opened > .sidebar-subsections {
      display: block; }
  .sidebar .catalog-sections-sidebar .catalog-sections-sidebar-item.active > a {
    font-weight: 700; }
.sidebar .catalog-filter-sidebar .smartfilter .bx-filter-parameters-box {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px 0; }
  .sidebar .catalog-filter-sidebar .smartfilter .bx-filter-parameters-box .bx-filter-parameters-box-title {
    padding-bottom: 0; }
    .sidebar .catalog-filter-sidebar .smartfilter .bx-filter-parameters-box .bx-filter-parameters-box-title span {
      color: #000;
      border-bottom: none;
      text-transform: uppercase;
      font-weight: 300;
      display: flex;
      align-items: center; }
      .sidebar .catalog-filter-sidebar .smartfilter .bx-filter-parameters-box .bx-filter-parameters-box-title span svg {
        font-size: 2em;
        margin-right: 10px;
        -webkit-transition: .3s ease transform;
        -moz-transition: .3s ease transform;
        -ms-transition: .3s ease transform;
        -o-transition: .3s ease transform;
        transition: .3s ease transform; }
  .sidebar .catalog-filter-sidebar .smartfilter .bx-filter-parameters-box .bx-filter-block .bx-filter-parameters-box-container {
    padding-bottom: 0;
    padding-top: 15px; }
  .sidebar .catalog-filter-sidebar .smartfilter .bx-filter-parameters-box .bx-filter-block .checkbox:not(:first-child) {
    margin-top: 15px; }
  .sidebar .catalog-filter-sidebar .smartfilter .bx-filter-parameters-box .bx-filter-block .checkbox .bx-filter-input-checkbox input[type="checkbox"] {
    display: none; }
    .sidebar .catalog-filter-sidebar .smartfilter .bx-filter-parameters-box .bx-filter-block .checkbox .bx-filter-input-checkbox input[type="checkbox"]:checked + .bx-filter-param-text:after {
      content: '';
      display: block;
      position: absolute;
      top: 1px;
      left: 5px;
      width: 5px;
      height: 10px;
      border: 3px solid #000;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg); }
  .sidebar .catalog-filter-sidebar .smartfilter .bx-filter-parameters-box .bx-filter-block .checkbox .bx-filter-input-checkbox .bx-filter-param-text {
    position: relative;
    display: flex;
    align-items: center; }
    .sidebar .catalog-filter-sidebar .smartfilter .bx-filter-parameters-box .bx-filter-block .checkbox .bx-filter-input-checkbox .bx-filter-param-text:before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      border: 1px solid #ccc;
      margin-right: 10px; }
  .sidebar .catalog-filter-sidebar .smartfilter .bx-filter-parameters-box.bx-active .bx-filter-parameters-box-title span svg {
    transform: rotate(-180deg); }
.sidebar .sidebar-icon {
  display: none; }
.sidebar .profile-left-infrow {
  margin-bottom: 10px;
  line-height: 1.4em; }
@media screen and (max-width: 992px) {
  .sidebar {
    position: fixed;
    left: -260px;
    bottom: 0;
    width: 260px;
    height: 100%;
    z-index: 90;
    background: #fff;
    padding: 0;
    -webkit-transition: .3s ease left;
    -moz-transition: .3s ease left;
    -ms-transition: .3s ease left;
    -o-transition: .3s ease left;
    transition: .3s ease left; }
    .sidebar.showed {
      left: 0;
      padding: 0;
      box-shadow: 0 0 15px #737373; }
    .sidebar .sidebar-inner {
      padding: 25px 0;
      padding-left: 35px;
      padding-right: 35px;
      overflow: auto;
      height: 100%;
      max-width: 100%;
      background: #fff;
      z-index: 1; }
      .sidebar .sidebar-inner .bx-filter {
        min-width: auto; }
    .sidebar .sidebar-icon {
      position: absolute;
      top: 50%;
      left: 100%;
      margin-top: -30px;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      color: #bdbdbd;
      font-size: .65rem;
      cursor: pointer;
      -webkit-border-radius: 0 4px 4px 0;
      -moz-border-radius: 0 4px 4px 0;
      border-radius: 0 4px 4px 0;
      overflow: hidden;
      -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1); } }

.grid-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  position: relative; }
  @media screen and (min-width: 1400px) {
    .grid-section {
      grid-template-columns: repeat(5, 1fr); } }
  @media screen and (max-width: 768px) {
    .grid-section {
      grid-template-columns: repeat(3, 1fr); } }
  @media screen and (max-width: 552px) {
    .grid-section {
      grid-template-columns: repeat(2, 1fr); } }
  @media all and (-ms-high-contrast: none) {
    .grid-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .grid-section .catalog-item {
        width: calc(100% / 4 - 3 * 15px / 4);
        margin-bottom: 15px; } }
    @media all and (-ms-high-contrast: none) and (min-width: 1400px) {
      .grid-section .catalog-item {
        width: calc(100% / 5 - 4 * 15px / 5); } }
    @media all and (-ms-high-contrast: none) and (max-width: 768px) {
      .grid-section .catalog-item {
        width: calc(100% / 3 - 2 * 15px / 3); } }
    @media all and (-ms-high-contrast: none) and (max-width: 552px) {
      .grid-section .catalog-item {
        width: calc(100% / 2 - 1 * 15px / 2); } }
    @media all and (-ms-high-contrast: none) and (max-width: 552px) {
      .grid-section .catalog-item {
        width: 100%; } }

  .grid-section.viewed-mini-section {
    grid-template-columns: repeat(3, 1fr); }
    @media screen and (min-width: 1400px) {
      .grid-section.viewed-mini-section {
        grid-template-columns: repeat(4, 1fr); } }
    @media screen and (max-width: 768px) {
      .grid-section.viewed-mini-section {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (max-width: 552px) {
      .grid-section.viewed-mini-section {
        grid-template-columns: 1fr; } }
    @media all and (-ms-high-contrast: none) {
      .grid-section.viewed-mini-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; }
        .grid-section.viewed-mini-section .catalog-item {
          width: calc(100% / 3 - 2 * 15px / 3);
          margin-bottom: 15px; } }
    @media all and (-ms-high-contrast: none) and (min-width: 1400px) {
      .grid-section.viewed-mini-section .catalog-item {
        width: calc(100% / 4 - 3 * 15px / 4); } }
    @media all and (-ms-high-contrast: none) and (max-width: 768px) {
      .grid-section.viewed-mini-section .catalog-item {
        width: calc(100% / 2 - 1 * 15px / 2); } }
    @media all and (-ms-high-contrast: none) and (max-width: 552px) {
      .grid-section.viewed-mini-section .catalog-item {
        width: 100%; } }

.catalog-item {
  background: #fff;
  overflow: hidden;
  position: relative; }
  .catalog-item .catalog-item-images {
    display: flex;
    width: 100%;
    position: relative;
    opacity: 1;
    height: 200px;
    align-items: center;
    justify-content: center; }
    .catalog-item .catalog-item-images img {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      /*max-width: 100%;
      max-height: 100%;*/
      object-fit: cover;
      display: block; }
      @media all and (-ms-high-contrast: none) {
        .catalog-item .catalog-item-images img {
          flex: 1; } }
    .catalog-item .catalog-item-images .slide-item-over-image-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
      .catalog-item .catalog-item-images .slide-item-over-image-wrapper:hover .slide-item-over-image-item:after {
        display: block; }
      .catalog-item .catalog-item-images .slide-item-over-image-wrapper .slide-item-over-image-item {
        height: 100%;
        flex-grow: 1;
        position: relative; }
        .catalog-item .catalog-item-images .slide-item-over-image-wrapper .slide-item-over-image-item:after {
          content: '';
          display: none;
          width: 90%;
          height: 5px;
          background: rgba(236, 236, 236, 0.5);
          position: absolute;
          bottom: 5px;
          left: 5%; }
        .catalog-item .catalog-item-images .slide-item-over-image-wrapper .slide-item-over-image-item:hover:after {
          background: #e03232; }
    .catalog-item .catalog-item-images .special-icons {
      position: absolute;
      top: 10px;
      right: 10px; }
      .catalog-item .catalog-item-images .special-icons .special-icon {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center; }
        .catalog-item .catalog-item-images .special-icons .special-icon.discount {
          background: #e03232;
          color: #fff;
          font-weight: bold; }
  .catalog-item .catalog-item-info {
    display: block;
    padding: 20px 20px 75px;
    font-size: 14px;
    opacity: 1;
    border: 1px solid #cccccc;
    border-top: none;
    height: calc(100% - 200px); }
    .catalog-item .catalog-item-info .catalog-item-name {
      margin-bottom: 5px;
      display: block;
      color: #e03232;
      font-weight: bold; }
    .catalog-item .catalog-item-info .catalog-item-prices {
      display: block;
      font-weight: bold; }
      .catalog-item .catalog-item-info .catalog-item-prices .catalog-item-price.catalog-item-price--old {
        text-decoration: line-through;
        color: #bdbdbd;
        font-weight: 500;
        margin-right: 15px; }
    .catalog-item .catalog-item-info .catalog-item-address {
      margin-top: 10px;
      font-size: 12px;
      font-weight: 400;
      color: #444; }
    .catalog-item .catalog-item-info .catalog-item-properties {
      margin-top: 20px;
      font-size: 13px; }
      .catalog-item .catalog-item-info .catalog-item-properties .catalog-item-property {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        position: relative;
        margin-bottom: 5px;
        height: 18px; }
        .catalog-item .catalog-item-info .catalog-item-properties .catalog-item-property:before {
          content: '';
          display: block;
          width: 100%;
          height: 0;
          position: absolute;
          bottom: 4px;
          border-bottom: 1px dotted; }
        .catalog-item .catalog-item-info .catalog-item-properties .catalog-item-property .catalog-item-property__name,
        .catalog-item .catalog-item-info .catalog-item-properties .catalog-item-property .catalog-item-property__value {
          position: relative;
          background: #fff; }
        .catalog-item .catalog-item-info .catalog-item-properties .catalog-item-property .catalog-item-property__value {
          padding-left: 10px; }
        .catalog-item .catalog-item-info .catalog-item-properties .catalog-item-property .catalog-item-property__name {
          padding-right: 10px; }
    .catalog-item .catalog-item-info .btn.btn-wide {
      margin-top: 20px;
      border-color: #ccc;
      font-size: 13px;
      font-weight: 400;
      margin-bottom: 0;
      padding: 12px 20px;
      position: absolute;
      bottom: 20px;
      left: 20px;
      width: auto;
      right: 20px; }
      .catalog-item .catalog-item-info .btn.btn-wide svg {
        width: 12px;
        height: 12px;
        transform: rotateY(180deg);
        margin-right: 20px; }
  .catalog-item .favorite-icon {
    position: absolute;
    top: 10px;
    left: -50px;
    background: rgba(236, 236, 236, 0.5);
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    border: 1px solid rgba(235, 235, 235, 0.5);
    -webkit-transition: left 0.3s cubic-bezier(0.24, -0.02, 0.05, 1.27);
    -moz-transition: left 0.3s cubic-bezier(0.24, -0.02, 0.05, 1.27);
    -ms-transition: left 0.3s cubic-bezier(0.24, -0.02, 0.05, 1.27);
    -o-transition: left 0.3s cubic-bezier(0.24, -0.02, 0.05, 1.27);
    transition: left 0.3s cubic-bezier(0.24, -0.02, 0.05, 1.27);
    cursor: pointer; }
    .catalog-item .favorite-icon.in-favorite {
      color: #e03232;
      left: 10px; }
  .catalog-item .go-to-card {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: -25px;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 30px;
    color: #fff;
    opacity: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .catalog-item .go-to-card:hover {
      background: #e03232; }
  .catalog-item:hover .go-to-card {
    opacity: 1; }
  .catalog-item:hover .favorite-icon {
    left: 10px; }
  .catalog-item.mini-card-item {
    display: flex; }
    .catalog-item.mini-card-item .catalog-item-images {
      height: auto;
      width: 40%; }
    .catalog-item.mini-card-item .catalog-item-info {
      padding: 5px 0 0 15px;
      font-size: 13px;
      width: 60%;
      height: auto;
      border: none; }
      .catalog-item.mini-card-item .catalog-item-info .catalog-item-prices .catalog-item-price {
        font-size: 20px; }
  .catalog-item.swiper-slide {
    height: auto; }

.table-section {
  position: relative; }
  .table-section .catalog-item {
    background: #fff;
    overflow: hidden;
    position: relative;
    display: flex;
    margin-bottom: 30px; }
    .table-section .catalog-item.table-row-headers {
      padding: 15px 0; }
      .table-section .catalog-item.table-row-headers .catalog-item-info {
        font-size: inherit; }
    .table-section .catalog-item .catalog-item-images {
      width: 100px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center; }
      .table-section .catalog-item .catalog-item-images:hover {
        opacity: 1; }
      .table-section .catalog-item .catalog-item-images img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        /*max-width: 100%;
        max-height: 100%;*/
        object-fit: cover;
        display: block; }
        @media all and (-ms-high-contrast: none) {
          .table-section .catalog-item .catalog-item-images img {
            flex: 1; } }
    .table-section .catalog-item .catalog-item-info {
      display: flex;
      align-items: center;
      font-size: 14px;
      width: calc(100% - 100px);
      padding: 15px; }
      .table-section .catalog-item .catalog-item-info .catalog-item-name {
        display: block;
        width: 30%; }
        .table-section .catalog-item .catalog-item-info .catalog-item-name .action-row {
          font-size: 12px;
          margin-top: 15px; }
          .table-section .catalog-item .catalog-item-info .catalog-item-name .action-row .action-element:not(:last-child) {
            margin-right: 30px; }
      .table-section .catalog-item .catalog-item-info .catalog-item-prices {
        display: block;
        font-weight: bold;
        width: 20%; }
        .table-section .catalog-item .catalog-item-info .catalog-item-prices .catalog-item-price.catalog-item-price--old {
          text-decoration: line-through;
          color: #bdbdbd;
          font-weight: 500;
          margin-right: 15px; }
      .table-section .catalog-item .catalog-item-info .catalog-item-info-counter {
        width: 16.6%;
        text-align: center; }

.mini-section {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(8, 1fr); }
  @media all and (-ms-high-contrast: none) {
    .mini-section {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; } }
  .mini-section .mini-section-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    @media all and (-ms-high-contrast: none) {
      .mini-section .mini-section-item {
        width: calc(12.5% - 13.125px);
        margin-bottom: 15px; } }
    .mini-section .mini-section-item img {
      max-width: 100%;
      display: block; }
    .mini-section .mini-section-item .name {
      height: 28px;
      overflow: hidden;
      text-align: center;
      margin-top: 10px;
      font-weight: 400;
      position: relative;
      font-size: 12px; }
      .mini-section .mini-section-item .name:after {
        content: '';
        display: block;
        height: 100%;
        width: 50%;
        background: linear-gradient(90deg, transparent, #fff);
        position: absolute;
        top: 0;
        right: 0; }

.catalog-section {
  position: relative; }

.sort-block {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .sort-block .sort-block-title {
    margin-right: 15px; }
  .sort-block .sort-block-select {
    background: none;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
    width: 200px;
    margin-right: 15px;
    border: 1px solid #bdbdbd;
    -webkit-box-shadow: inset 0 2px 10px -2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 2px 10px -2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 2px 10px -2px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 7px 10px; }
    .sort-block .sort-block-select .select-option-list {
      padding-top: 10px;
      -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1); }
      .sort-block .sort-block-select .select-option-list .select-option {
        background: #fff;
        padding: 10px; }
        .sort-block .sort-block-select .select-option-list .select-option:hover {
          background: #e03232;
          color: #fff; }
  @media screen and (max-width: 552px) {
    .sort-block {
      position: static; } }

.cat-list-panel .cat-view {
  display: flex;
  align-items: center; }
  .cat-list-panel .cat-view .cat-view-item {
    font-size: 1rem;
    background: #fff;
    width: 32px;
    height: 32px;
    opacity: .5;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 3px 4px 10px -3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 3px 4px 10px -3px rgba(0, 0, 0, 0.15);
    box-shadow: 3px 4px 10px -3px rgba(0, 0, 0, 0.15); }
    .cat-list-panel .cat-view .cat-view-item:not(:last-child) {
      margin-right: 10px; }
    .cat-list-panel .cat-view .cat-view-item.active {
      opacity: 1; }
    .cat-list-panel .cat-view .cat-view-item.showmap {
      width: auto;
      padding: 0 10px; }
      .cat-list-panel .cat-view .cat-view-item.showmap span {
        margin-left: 10px;
        font-size: 0.8rem; }

.popular-section .grid-section {
  grid-template-columns: repeat(3, 1fr); }
  @media screen and (min-width: 1400px) {
    .popular-section .grid-section {
      grid-template-columns: repeat(4, 1fr); } }
  @media screen and (max-width: 768px) {
    .popular-section .grid-section {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (max-width: 449px) {
    .popular-section .grid-section {
      grid-template-columns: 1fr; } }
  @media all and (-ms-high-contrast: none) {
    .popular-section .grid-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .popular-section .grid-section .catalog-item {
        width: calc(100% / 3 - 2 * 15px / 3);
        margin-bottom: 15px; } }
    @media all and (-ms-high-contrast: none) and (min-width: 1400px) {
      .popular-section .grid-section .catalog-item {
        width: calc(100% / 4 - 3 * 15px / 4); } }
    @media all and (-ms-high-contrast: none) and (max-width: 768px) {
      .popular-section .grid-section .catalog-item {
        width: calc(100% / 2 - 1 * 15px / 2); } }
    @media all and (-ms-high-contrast: none) and (max-width: 450px) {
      .popular-section .grid-section .catalog-item {
        width: 100%; } }

.catalog-filter-sidebar .input-wrapper input {
  background: transparent; }

.catalog-pager.bottom {
  margin: 0 auto;
  margin-top: 30px; }
.catalog-pager .catalog-page-navigation .btn {
  margin-right: 10px;
  box-shadow: 0 0 5px #ccc;
  padding: 0.75em 1.5em;
  font-size: 0.8rem;
  margin-bottom: 10px;
  background: #fff;
  border-color: #ccc;
  color: #757575;
  font-weight: 400; }
  .catalog-pager .catalog-page-navigation .btn:last-child {
    margin-right: 0; }
  .catalog-pager .catalog-page-navigation .btn.catalog-page-current {
    cursor: default;
    border: 2px solid #e03232;
    color: #e03232; }
  .catalog-pager .catalog-page-navigation .btn.catalog-page-ajax_load {
    opacity: 1;
    cursor: pointer; }
    .catalog-pager .catalog-page-navigation .btn.catalog-page-ajax_load.loading {
      color: transparent;
      position: relative; }
      .catalog-pager .catalog-page-navigation .btn.catalog-page-ajax_load.loading:after {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -8px;
        margin-left: -8px;
        border: 2px solid transparent;
        border-top-color: #000;
        border-right-color: #000;
        animation: rotate360 .5s linear infinite;
        border-radius: 50%; }
  .catalog-pager .catalog-page-navigation .btn:hover {
    color: #fff;
    background: #e03232;
    border-color: #e03232; }

@keyframes rotate360 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-webkit-keyframes rotate360 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-moz-keyframes rotate360 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-ms-keyframes rotate360 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@-o-keyframes rotate360 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
.basket-column {
  position: fixed;
  right: -33%;
  top: 0;
  z-index: 30;
  width: 33%;
  background: #fff;
  height: 100%;
  -webkit-transition: .3s ease right;
  -moz-transition: .3s ease right;
  -ms-transition: .3s ease right;
  -o-transition: .3s ease right;
  transition: .3s ease right; }
  .basket-column .basket-column-inner {
    padding: 35px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: #fff;
    position: relative; }
    .basket-column .basket-column-inner h2 {
      margin: 0 0 50px 0;
      height: 33px;
      display: flex;
      align-items: center; }
      .basket-column .basket-column-inner h2 + .basket-column-item {
        border-top: 1px solid #ececec;
        padding-top: 30px; }
    .basket-column .basket-column-inner .web-form h2 {
      margin: 30px 0 50px 0;
      height: 33px;
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 1.8rem; }
    .basket-column .basket-column-inner .web-form .btn {
      box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2); }
    .basket-column .basket-column-inner > .basket-column-close {
      color: #bdbdbd;
      font-size: 1rem;
      cursor: pointer;
      position: absolute;
      top: 35px;
      right: 35px; }
    .basket-column .basket-column-inner .basket-column-item {
      display: flex;
      justify-content: space-between; }
      .basket-column .basket-column-inner .basket-column-item:not(:last-child) {
        border-bottom: 1px solid #ececec;
        padding-bottom: 30px;
        margin-bottom: 15px; }
      .basket-column .basket-column-inner .basket-column-item .basket-column-item-col {
        padding: 0 10px; }
        .basket-column .basket-column-inner .basket-column-item .basket-column-item-col.basket-column-item-picture {
          width: 20%;
          padding: 0;
          text-align: center; }
        .basket-column .basket-column-inner .basket-column-item .basket-column-item-col.basket-column-item-name {
          width: 40%; }
          .basket-column .basket-column-inner .basket-column-item .basket-column-item-col.basket-column-item-name .props {
            margin-top: 15px; }
            .basket-column .basket-column-inner .basket-column-item .basket-column-item-col.basket-column-item-name .props .prop-row {
              display: flex; }
              .basket-column .basket-column-inner .basket-column-item .basket-column-item-col.basket-column-item-name .props .prop-row .prop-name {
                margin-right: 10px; }
          .basket-column .basket-column-inner .basket-column-item .basket-column-item-col.basket-column-item-name .article {
            margin-top: 15px;
            color: #bdbdbd;
            font-weight: 600; }
          .basket-column .basket-column-inner .basket-column-item .basket-column-item-col.basket-column-item-name .btn {
            margin-top: 15px; }
        .basket-column .basket-column-inner .basket-column-item .basket-column-item-col.basket-column-item-count {
          width: 15%;
          padding: 0; }
          .basket-column .basket-column-inner .basket-column-item .basket-column-item-col.basket-column-item-count input {
            width: 100%;
            text-align: center;
            border: 1px solid #ececec;
            padding: 5px; }
        .basket-column .basket-column-inner .basket-column-item .basket-column-item-col.basket-column-item-price {
          width: 20%; }
          .basket-column .basket-column-inner .basket-column-item .basket-column-item-col.basket-column-item-price .basket-column-item-price-value {
            font-weight: 700; }
            .basket-column .basket-column-inner .basket-column-item .basket-column-item-col.basket-column-item-price .basket-column-item-price-value.old-price {
              color: #bdbdbd;
              text-decoration: line-through;
              font-weight: 500;
              margin-top: 10px; }
        .basket-column .basket-column-inner .basket-column-item .basket-column-item-col.basket-column-item-remove {
          width: 5%;
          text-align: center;
          padding: 0;
          cursor: pointer; }
    .basket-column .basket-column-inner .basket-column-sum {
      display: flex;
      justify-content: flex-end;
      padding: 0 0 15px;
      font-weight: 500;
      margin-bottom: 40px; }
    .basket-column .basket-column-inner .empty-basket {
      margin-bottom: 40px; }
    .basket-column .basket-column-inner .btn-row:not(.btn-row-wide) {
      max-width: 280px;
      margin-left: auto;
      margin-right: auto; }
    .basket-column .basket-column-inner .input-wrapper {
      height: 50px;
      margin-bottom: 25px; }
      .basket-column .basket-column-inner .input-wrapper .placeholder {
        top: 16px; }
      .basket-column .basket-column-inner .input-wrapper.typed .placeholder {
        top: -5px; }
    .basket-column .basket-column-inner .basket-items-wrapper .btn-row {
      flex-wrap: wrap; }
      .basket-column .basket-column-inner .basket-items-wrapper .btn-row .btn {
        width: 100%;
        margin-right: 0; }
    @media screen and (max-width: 552px) {
      .basket-column .basket-column-inner {
        padding: 20px; }
        .basket-column .basket-column-inner > .basket-column-close {
          top: 20px;
          right: 20px; }
        .basket-column .basket-column-inner .favorite-items-wrapper .basket-column-item {
          display: grid;
          grid-template-areas: "pict name name" "pict price remove";
          grid-gap: 10px; }
          .basket-column .basket-column-inner .favorite-items-wrapper .basket-column-item .basket-column-item-col.basket-column-item-count {
            display: none; }
        .basket-column .basket-column-inner .basket-items-wrapper .basket-column-item {
          display: grid;
          grid-template-areas: "pict name name" "pict price count" "pict remove remove";
          grid-gap: 10px; }
        .basket-column .basket-column-inner .basket-column-item .basket-column-item-col.basket-column-item-picture {
          width: auto;
          grid-area: pict; }
        .basket-column .basket-column-inner .basket-column-item .basket-column-item-col.basket-column-item-name {
          width: auto;
          grid-area: name; }
        .basket-column .basket-column-inner .basket-column-item .basket-column-item-col.basket-column-item-count {
          width: auto;
          grid-area: count; }
        .basket-column .basket-column-inner .basket-column-item .basket-column-item-col.basket-column-item-price {
          width: auto;
          grid-area: price; }
        .basket-column .basket-column-inner .basket-column-item .basket-column-item-col.basket-column-item-remove {
          width: auto;
          grid-area: remove; } }
  .basket-column .basket-column-icons-togglers {
    position: absolute;
    top: 50%;
    left: -60px;
    background: #fff;
    width: 60px;
    transform: translate(0, -50%);
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
    overflow: hidden;
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1); }
    .basket-column .basket-column-icons-togglers .basket-column-icons-toggle-item {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      color: #bdbdbd;
      font-size: .65rem;
      border-right: 1px solid #ececec;
      cursor: pointer;
      position: relative; }
      .basket-column .basket-column-icons-togglers .basket-column-icons-toggle-item:not(:last-child) {
        border-bottom: 1px solid #ececec; }
      .basket-column .basket-column-icons-togglers .basket-column-icons-toggle-item.active {
        color: #000;
        border-right-color: transparent;
        cursor: default; }
      .basket-column .basket-column-icons-togglers .basket-column-icons-toggle-item:hover {
        color: #000; }
      .basket-column .basket-column-icons-togglers .basket-column-icons-toggle-item.has-elems:after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background: #e03232;
        border-radius: 50%;
        bottom: 18px;
        right: 18px;
        position: absolute; }
    @media screen and (max-width: 450px) {
      .basket-column .basket-column-icons-togglers {
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        background: #fff;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: 0 0 0;
        -moz-box-shadow: 0 0 0;
        box-shadow: 0 0 0;
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0); }
        .basket-column .basket-column-icons-togglers .basket-column-icons-toggle-item {
          flex-grow: 1;
          border-top: 1px solid #ececec; }
          .basket-column .basket-column-icons-togglers .basket-column-icons-toggle-item:not(:last-child) {
            border-bottom: none; } }
  .basket-column.showed {
    right: 0; }
    .basket-column.showed .basket-column-icons-togglers .basket-column-icons-toggle-item {
      box-shadow: inset -3px 3px 15px -5px #ccc; }
      .basket-column.showed .basket-column-icons-togglers .basket-column-icons-toggle-item.active {
        box-shadow: none; }
  @media screen and (max-width: 1024px) {
    .basket-column {
      width: 50%;
      right: -50%; } }
  @media screen and (max-width: 768px) {
    .basket-column {
      width: 100%;
      right: -100%; } }

.basket-column-block .map-data-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/map.png) no-repeat center;
  -webkit-background-size: cover;
  background-size: cover; }

.main-basket-columns {
  align-items: flex-start; }
  .main-basket-columns .basket-column-items {
    width: 75%; }
    .main-basket-columns .basket-column-items .basket-steps-togglers {
      margin-bottom: 35px; }
      .main-basket-columns .basket-column-items .basket-steps-togglers .basket-step-toggle {
        padding-top: 20px;
        position: relative;
        color: #ccc;
        cursor: pointer; }
        .main-basket-columns .basket-column-items .basket-steps-togglers .basket-step-toggle .liner {
          display: block;
          height: 2px;
          position: absolute;
          top: 9px;
          left: 50%;
          background: #ccc; }
        .main-basket-columns .basket-column-items .basket-steps-togglers .basket-step-toggle:after {
          content: '';
          position: absolute;
          display: block;
          width: 10px;
          height: 10px;
          background: #ccc;
          border: 4px solid #fff;
          top: 0;
          left: 50%;
          margin-left: -9px;
          -webkit-box-shadow: 0 0 0 2px #ccc;
          -moz-box-shadow: 0 0 0 2px #ccc;
          box-shadow: 0 0 0 2px #ccc;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%; }
        .main-basket-columns .basket-column-items .basket-steps-togglers .basket-step-toggle.active, .main-basket-columns .basket-column-items .basket-steps-togglers .basket-step-toggle.pre-active {
          color: #000; }
          .main-basket-columns .basket-column-items .basket-steps-togglers .basket-step-toggle.active:after, .main-basket-columns .basket-column-items .basket-steps-togglers .basket-step-toggle.pre-active:after {
            background: #000;
            -webkit-box-shadow: 0 0 0 2px #000;
            -moz-box-shadow: 0 0 0 2px #000;
            box-shadow: 0 0 0 2px #000; }
        .main-basket-columns .basket-column-items .basket-steps-togglers .basket-step-toggle.pre-active .liner {
          background: #000; }
        @media screen and (max-width: 450px) {
          .main-basket-columns .basket-column-items .basket-steps-togglers .basket-step-toggle {
            font-size: 10px; } }
    .main-basket-columns .basket-column-items .basket-step-item {
      display: none; }
      .main-basket-columns .basket-column-items .basket-step-item h3 {
        margin-bottom: 30px; }
      .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start; }
        .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row:not(:last-child) {
          margin-bottom: 15px;
          border-bottom: 1px solid #ececec;
          padding-bottom: 15px; }
        .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row.grid-headers {
          color: #888;
          font-weight: 600; }
          @media screen and (max-width: 768px) {
            .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row.grid-headers {
              display: none; } }
        .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row .basket-main-item-col.basket-main-item-picture {
          width: 10%;
          text-align: center; }
          @media screen and (max-width: 768px) {
            .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row .basket-main-item-col.basket-main-item-picture {
              width: auto;
              grid-area: pict; } }
        .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row .basket-main-item-col.basket-main-item-name {
          width: 50%; }
          @media screen and (max-width: 992px) {
            .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row .basket-main-item-col.basket-main-item-name {
              width: 30%; } }
          @media screen and (max-width: 768px) {
            .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row .basket-main-item-col.basket-main-item-name {
              width: auto;
              grid-area: name; } }
        .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row .basket-main-item-col.basket-main-item-count {
          width: 20%; }
          .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row .basket-main-item-col.basket-main-item-count input {
            border: none;
            border-bottom: 1px solid #ececec;
            border-top: 1px solid #ececec;
            text-align: center;
            max-width: 60px;
            padding: 5px 5px 4px; }
            .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row .basket-main-item-col.basket-main-item-count input::-webkit-inner-spin-button {
              display: none; }
          .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row .basket-main-item-col.basket-main-item-count .counter-rechange-btn {
            border: 1px solid #ececec;
            padding: 5px 10px;
            background: linear-gradient(to bottom, #f7f7f7, #eaeaea);
            cursor: pointer;
            font-size: 12px;
            line-height: 1.45; }
            .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row .basket-main-item-col.basket-main-item-count .counter-rechange-btn:hover {
              background: linear-gradient(to bottom, #eaeaea, #f7f7f7); }
          @media screen and (max-width: 768px) {
            .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row .basket-main-item-col.basket-main-item-count {
              width: auto;
              grid-area: count; } }
          @media screen and (max-width: 450px) {
            .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row .basket-main-item-col.basket-main-item-count {
              display: flex;
              align-items: center;
              height: 100%; } }
          @media all and (-ms-high-contrast: none) {
            .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row .basket-main-item-col.basket-main-item-count {
              width: auto; } }
        .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row .basket-main-item-col.basket-main-item-sum {
          width: 10%; }
          .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row .basket-main-item-col.basket-main-item-sum .basket-main-item-price-row {
            font-weight: 700; }
            .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row .basket-main-item-col.basket-main-item-sum .basket-main-item-price-row.old-price {
              text-decoration: line-through;
              color: #bdbdbd;
              font-weight: 400;
              margin-top: 10px; }
          @media screen and (max-width: 992px) {
            .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row .basket-main-item-col.basket-main-item-sum {
              width: 20%; } }
          @media screen and (max-width: 768px) {
            .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row .basket-main-item-col.basket-main-item-sum {
              width: auto;
              grid-area: sum; } }
        .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row .basket-main-item-col.basket-main-item-remove {
          width: 10%;
          text-align: center; }
          @media screen and (max-width: 768px) {
            .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row .basket-main-item-col.basket-main-item-remove {
              width: auto;
              grid-area: remove;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%; } }
        @media screen and (max-width: 768px) {
          .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row {
            display: grid;
            grid-template-areas: "pict name count" "pict sum remove"; } }
        @media screen and (max-width: 450px) {
          .main-basket-columns .basket-column-items .basket-step-item .basket-main-item-row {
            grid-template-areas: "pict name name" "pict count count" "pict sum remove";
            grid-gap: 10px; } }
      .main-basket-columns .basket-column-items .basket-step-item .action-row {
        align-items: flex-end; }
        .main-basket-columns .basket-column-items .basket-step-item .action-row .btn {
          margin-bottom: 0; }
        .main-basket-columns .basket-column-items .basket-step-item .action-row .coupon-wrapper .coupon-block .input-wrapper {
          width: 100%; }
        @media screen and (max-width: 350px) {
          .main-basket-columns .basket-column-items .basket-step-item .action-row .coupon-wrapper .coupon-block {
            flex-wrap: wrap;
            align-items: center;
            justify-content: center; }
            .main-basket-columns .basket-column-items .basket-step-item .action-row .coupon-wrapper .coupon-block input {
              width: 100%; }
            .main-basket-columns .basket-column-items .basket-step-item .action-row .coupon-wrapper .coupon-block .btn {
              margin-top: 15px; } }
        @media screen and (max-width: 768px) {
          .main-basket-columns .basket-column-items .basket-step-item .action-row {
            flex-direction: column-reverse;
            margin-top: 60px;
            padding-top: 30px;
            border-top: 1px solid #ececec;
            justify-content: center;
            align-items: center; }
            .main-basket-columns .basket-column-items .basket-step-item .action-row .coupon-wrapper {
              margin-top: 60px; } }
      .main-basket-columns .basket-column-items .basket-step-item .order-props-grid {
        margin-bottom: 30px;
        padding-bottom: 30px; }
        .main-basket-columns .basket-column-items .basket-step-item .order-props-grid .order-props-list {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 30px; }
          @media screen and (max-width: 450px) {
            .main-basket-columns .basket-column-items .basket-step-item .order-props-grid .order-props-list {
              grid-template-columns: 1fr; } }
      .main-basket-columns .basket-column-items .basket-step-item .service-block {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 30px;
        margin-bottom: 35px;
        padding-bottom: 35px; }
        .main-basket-columns .basket-column-items .basket-step-item .service-block .service-item {
          border: 2px solid #ececec;
          padding: 25px;
          text-align: center;
          cursor: pointer; }
          .main-basket-columns .basket-column-items .basket-step-item .service-block .service-item img {
            max-width: 100%;
            margin: 0 auto;
            display: block; }
          .main-basket-columns .basket-column-items .basket-step-item .service-block .service-item .name {
            font-weight: bold;
            margin-top: 10px; }
          .main-basket-columns .basket-column-items .basket-step-item .service-block .service-item .price {
            font-weight: bold;
            margin-top: 10px; }
          .main-basket-columns .basket-column-items .basket-step-item .service-block .service-item.active {
            border-color: #000; }
            .main-basket-columns .basket-column-items .basket-step-item .service-block .service-item.active .price {
              font-size: 1rem; }
          @media screen and (max-width: 450px) {
            .main-basket-columns .basket-column-items .basket-step-item .service-block .service-item {
              padding: 10px; } }
        @media screen and (max-width: 1024px) {
          .main-basket-columns .basket-column-items .basket-step-item .service-block {
            grid-template-columns: repeat(4, 1fr); } }
        @media screen and (max-width: 768px) {
          .main-basket-columns .basket-column-items .basket-step-item .service-block {
            grid-template-columns: repeat(3, 1fr); } }
        @media screen and (max-width: 450px) {
          .main-basket-columns .basket-column-items .basket-step-item .service-block {
            grid-template-columns: repeat(2, 1fr); } }
        @media screen and (max-width: 320px) {
          .main-basket-columns .basket-column-items .basket-step-item .service-block {
            grid-template-columns: 1fr; } }
        @media all and (-ms-high-contrast: none) {
          .main-basket-columns .basket-column-items .basket-step-item .service-block {
            display: flex; }
            .main-basket-columns .basket-column-items .basket-step-item .service-block .service-item {
              width: calc(100% / 5 - 4 * 30px / 5);
              margin-bottom: 30px;
              margin-right: 30px; } }
      .main-basket-columns .basket-column-items .basket-step-item .btn-row .btn {
        margin-bottom: 0; }
      @media screen and (max-width: 768px) {
        .main-basket-columns .basket-column-items .basket-step-item .btn-row {
          flex-wrap: wrap;
          flex-direction: column;
          align-items: center;
          justify-content: center; }
          .main-basket-columns .basket-column-items .basket-step-item .btn-row .consent {
            margin-bottom: 30px; }
          .main-basket-columns .basket-column-items .basket-step-item .btn-row .custom-checkbox {
            align-items: center; } }
    @media screen and (max-width: 1240px) {
      .main-basket-columns .basket-column-items {
        width: 70%; } }
    @media screen and (max-width: 1024px) {
      .main-basket-columns .basket-column-items {
        width: 100%; } }
  .main-basket-columns .basket-column-sum {
    width: 25%;
    padding-left: 35px; }
    .main-basket-columns .basket-column-sum h1 {
      margin-top: 0; }
    .main-basket-columns .basket-column-sum h1, .main-basket-columns .basket-column-sum .basket-sum-subtotal, .main-basket-columns .basket-column-sum .basket-sum-total {
      padding-left: 35px;
      padding-right: 35px; }
    .main-basket-columns .basket-column-sum .basket-sum-subtotal {
      margin-bottom: 30px; }
      .main-basket-columns .basket-column-sum .basket-sum-subtotal .basket-sum-subtotal-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        color: #888; }
        .main-basket-columns .basket-column-sum .basket-sum-subtotal .basket-sum-subtotal-row .value {
          font-weight: bold; }
    .main-basket-columns .basket-column-sum .basket-sum-total .basket-sum-total-row {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .main-basket-columns .basket-column-sum .basket-sum-total .basket-sum-total-row .value {
        font-size: 1.4rem;
        font-weight: bold; }
    @media screen and (max-width: 1240px) {
      .main-basket-columns .basket-column-sum {
        width: 30%; } }
    @media screen and (max-width: 1024px) {
      .main-basket-columns .basket-column-sum {
        width: 100%;
        margin-top: 30px;
        padding-left: 0; } }
  @media screen and (max-width: 1024px) {
    .main-basket-columns {
      flex-wrap: wrap; } }

.bx-ui-sls-route {
  display: none; }

.bx-ui-sls-container {
  height: 100%; }

.bx-ui-sls-pane {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 20px 0px;
  background: #fff;
  border: 1px solid #ececec;
  max-height: 150px; }
  .bx-ui-sls-pane .bx-ui-sls-variants .dropdown-item {
    padding: 10px;
    cursor: pointer; }
    .bx-ui-sls-pane .bx-ui-sls-variants .dropdown-item:hover {
      background: #f7f7f7; }

.wide-map {
  filter: grayscale(100%);
  margin-left: -35px;
  margin-right: -35px; }
  @media screen and (max-width: 552px) {
    .wide-map {
      margin-left: 0;
      margin-right: 0; } }

.contacts-inner .contacts-preview-text {
  margin: 35px 0;
  text-align: center; }
.contacts-inner .form-and-detail .form-left {
  width: 50%; }
  .contacts-inner .form-and-detail .form-left h2 {
    text-align: center; }
  .contacts-inner .form-and-detail .form-left form {
    max-width: 320px;
    margin: 0 auto; }
    .contacts-inner .form-and-detail .form-left form .input-wrapper {
      margin-bottom: 35px; }
.contacts-inner .form-and-detail .detail-text {
  width: 50%;
  padding: 35px; }
  .contacts-inner .form-and-detail .detail-text .quote {
    margin-bottom: 50px; }
    .contacts-inner .form-and-detail .detail-text .quote .quote-text {
      font-size: 1.2rem;
      font-style: italic;
      border-top: 4px solid #dedede;
      border-bottom: 4px solid #dedede;
      padding: 35px;
      margin-bottom: 15px;
      font-weight: 600;
      text-align: center; }
    .contacts-inner .form-and-detail .detail-text .quote .quote-author {
      text-align: center;
      font-size: 1rem;
      font-style: italic;
      color: #888; }
  .contacts-inner .form-and-detail .detail-text .contacts-block .contacts-col {
    width: 50%; }
@media screen and (max-width: 768px) {
  .contacts-inner .form-and-detail {
    flex-wrap: wrap; }
    .contacts-inner .form-and-detail .form-left,
    .contacts-inner .form-and-detail .detail-text {
      width: 100%; }
    .contacts-inner .form-and-detail .detail-text {
      padding: 0;
      margin-top: 30px; } }
@media screen and (max-width: 552px) {
  .contacts-inner .form-and-detail .detail-text .contacts-block {
    flex-wrap: wrap; }
    .contacts-inner .form-and-detail .detail-text .contacts-block .contacts-col {
      width: 100%; } }

.search-popup {
  width: 500px; }
  .search-popup .btn {
    margin-bottom: 0; }
  .search-popup .input-wrapper {
    height: 50px;
    margin-bottom: 0;
    width: 100%; }
  @media screen and (max-width: 552px) {
    .search-popup {
      width: calc(100% - 30px); } }
  @media screen and (max-width: 450px) {
    .search-popup form {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center; }
    .search-popup .input-wrapper {
      margin-bottom: 30px; } }

.search-main-block .input-wrapper {
  width: calc(100% - 100px);
  height: 50px;
  margin-bottom: 0; }
.search-main-block .btn {
  margin-bottom: 0; }

.form-success {
  border: 4px solid #e03232;
  padding: 25px 25px 25px 0; }
  .form-success .form-success-inner {
    padding: 10px;
    margin-left: -15px;
    background: #fff;
    text-align: center; }

.popup-border {
  border: 5px solid #e03232;
  padding-left: 0;
  min-width: 320px; }
  .popup-border .popup-border-inner {
    background: #fff;
    padding: 10px;
    margin-left: -15px; }

.input-block-list {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr); }
  @media all and (-ms-high-contrast: none) {
    .input-block-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; } }
  @media screen and (max-width: 552px) {
    .input-block-list {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (max-width: 450px) {
    .input-block-list {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: 1fr; } }
  @media all and (-ms-high-contrast: none) {
    .input-block-list .input-block-item {
      width: calc(33.3333333333% - 20px);
      margin-bottom: 30px; } }

.cab-form-update h3 .small {
  color: #bdbdbd;
  font-weight: 400; }
.cab-form-update .stat-block .stat-row .stat-name {
  width: 30%; }
.cab-form-update .stat-block .stat-row .stat-value {
  width: 70%; }
.cab-form-update .photo-wrapper .photo-image {
  width: 125px;
  height: 125px; }
.cab-form-update .photo-wrapper .placeholder {
  position: absolute;
  top: 50%;
  left: 110px;
  transform: translate(0, -50%);
  padding-left: 35px; }
  .cab-form-update .photo-wrapper .placeholder .icon {
    left: -4px;
    top: -4px;
    right: auto;
    bottom: auto; }

.menu-grid-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px; }
  .menu-grid-cols > a {
    border: 1px solid #ccc;
    padding: 30px;
    text-align: center;
    opacity: 1; }
    .menu-grid-cols > a svg {
      width: 70px !important;
      height: 60px;
      margin-bottom: 30px;
      color: #e03232; }
    .menu-grid-cols > a .title {
      text-transform: uppercase;
      font-size: 19px;
      margin-bottom: 15px;
      line-height: 1.2;
      font-weight: 900; }
    .menu-grid-cols > a .description {
      line-height: 1.4;
      font-weight: 400; }
  @media screen and (max-width: 768px) {
    .menu-grid-cols {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (max-width: 552px) {
    .menu-grid-cols {
      grid-template-columns: 1fr; } }

.advantages-numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 40px; }
  .advantages-numbers .advantages-number-item {
    padding: 40px;
    text-align: center;
    position: relative;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.07); }
    .advantages-numbers .advantages-number-item .pre-text {
      position: absolute;
      top: 20px;
      text-align: center;
      width: 100%;
      left: 0;
      font-style: italic;
      color: #e03232; }
    .advantages-numbers .advantages-number-item .number {
      font-weight: 900;
      color: #e03232;
      font-size: 72px;
      line-height: 1; }
    .advantages-numbers .advantages-number-item .text {
      margin-top: 5px;
      font-style: italic;
      line-height: 1.4; }
  @media screen and (max-width: 1140px) {
    .advantages-numbers {
      grid-template-columns: repeat(3, 1fr); } }
  @media screen and (max-width: 768px) {
    .advantages-numbers {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (max-width: 552px) {
    .advantages-numbers {
      grid-template-columns: 1fr; } }

.sticker {
  display: inline-block;
  padding: 5px 10px;
  background: #d6a74c;
  border-radius: 4px;
  line-height: 1;
  font-weight: bold;
  color: #fff; }

/*# sourceMappingURL=style.css.map */
