.TS_select-box {
  position: relative; }
  .TS_select-box.disabled .select-label {
    opacity: 0.5; }
  .TS_select-box.js-hover:not(.disabled).shown .select-option-list, .TS_select-box.js-click:not(.disabled).shown .select-option-list {
    display: block; }
  .TS_select-box:not(.disabled).css-hover:hover .select-option-list {
    display: block; }
  .TS_select-box input {
    display: none; }
  .TS_select-box .select-label {
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    outline: none;
    outline: 0;
    width: 100%;
    cursor: pointer; }
    .TS_select-box .select-label .value {
      vertical-align: middle; }
    .TS_select-box .select-label .arrow {
      vertical-align: middle;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%); }
      .TS_select-box .select-label .arrow:before {
        content: "";
        border: 2px solid black;
        border-top: none;
        border-left: none;
        transform: rotate(45deg) translate(-25%, -25%);
        width: 7px;
        height: 7px;
        display: inline-block;
        vertical-align: middle;
        box-sizing: border-box; }
  .TS_select-box .select-option-list {
    position: absolute;
    top: calc(100% - 1px);
    left: 0;
    right: 0;
    max-height: 200px;
    outline: 0;
    border-top: none;
    display: none;
    z-index: 10;
    overflow: auto; }
    .TS_select-box .select-option-list .select-option {
      cursor: pointer; }

/*# sourceMappingURL=style.css.map */
