@media print {
  .noprint
   {
    display: none !important;
  }
  div.catalog-element-wrapper {

    display:block;

    .catalog-element-inner {
      width:100%;
    }
  }
  div.catalog-element-price-block {
    width:100%;
  }
  div.catalog-element-price-block {
    .standart-block {
      max-width: none;
    }
  }
  .element-map{
    page-break-inside:avoid;
  }
}