@charset "UTF-8";
.catalog-element-wrapper .catalog-element-inner {
  width: 75%;
  /* Основная колонка */ }
  .catalog-element-wrapper .catalog-element-inner .catalog-main-element {
    margin-bottom: 30px; }
    .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures {
      width: 100%;
      overflow: hidden;
      position: relative;
      padding-right: 20px;
      margin-bottom: 30px; }
      .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .catalog-element-media-tabs {
        margin-bottom: 20px;
        display: flex;
        flex-wrap: wrap; }
        .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .catalog-element-media-tabs > div {
          margin-right: 20px;
          padding: 4px 20px;
          border: #999 solid 1px;
          cursor: pointer;
          white-space: nowrap;
          margin-bottom: 20px; }
          .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .catalog-element-media-tabs > div.active {
            border-color: #f00; }
      .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .catalog-element-media-tab-content > div {
        display: none; }
        .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .catalog-element-media-tab-content > div.active {
          display: block; }
      .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .element-pictures-wrap {
        position: relative; }
        .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .element-pictures-wrap .all-window-btn {
          width: 170px;
          cursor: pointer;
          padding: 15px 0; }
          .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .element-pictures-wrap .all-window-btn svg {
            margin-right: 15px;
            color: #bdbdbd; }
          .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .element-pictures-wrap .all-window-btn:hover {
            color: #e03232; }
            .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .element-pictures-wrap .all-window-btn:hover svg {
              color: #e03232; }
        .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .element-pictures-wrap .swiper-button-disabled {
          display: none; }
      .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .element-pictures-slider {
        width: calc(100% - 200px);
        margin: 30px 0 30px;
        height: 100px; }
        .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .element-pictures-slider img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          display: block;
          height: 100%;
          object-fit: cover; }
          @media all and (-ms-high-contrast: none) {
            .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .element-pictures-slider img {
              flex: 1; } }
        .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .element-pictures-slider .swiper-slide {
          border: 3px solid transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          /*> div {
            position: relative;
            padding-bottom: 65%;
            width: 100%;
          }*/ }
          .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .element-pictures-slider .swiper-slide.active {
            border-color: #dedede; }
        @media screen and (max-width: 552px) {
          .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .element-pictures-slider {
            display: none; } }
      .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .element-picture-main {
        width: 100%;
        height: 500px;
        position: relative;
        /*> div {
          position: relative;
          padding-bottom: 65%;
          width: 100%;
          overflow: hidden;
        }*/ }
        .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .element-picture-main img {
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          /*max-height: 100%;*/
          height: 100%;
          object-fit: contain; }
          @media all and (-ms-high-contrast: none) {
            .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .element-picture-main img {
              flex: none; } }
        @media screen and (max-width: 552px) {
          .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .element-picture-main {
            width: 100%; } }
      .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .swiper-navigation-arrow {
        position: absolute;
        width: 120px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        cursor: pointer;
        top: 50%;
        z-index: 2;
        margin-top: -15px;
        opacity: .7;
        transform: rotate(-90deg); }
        .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .swiper-navigation-arrow:after {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          border: 2px solid #ccc;
          border-width: 2px 0 0 2px; }
        .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .swiper-navigation-arrow.next-arrow {
          right: -45px;
          left: auto;
          transform: rotate(-90deg); }
          .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .swiper-navigation-arrow.next-arrow:after {
            transform: rotate(-135deg);
            margin-bottom: 14px; }
        .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .swiper-navigation-arrow.prev-arrow {
          left: -45px; }
          .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .swiper-navigation-arrow.prev-arrow:after {
            transform: rotate(45deg);
            margin-top: 14px; }
        @media screen and (max-width: 552px) {
          .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures .swiper-navigation-arrow {
            display: none; } }
      @media screen and (max-width: 1024px) {
        .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures {
          width: 100%;
          height: 600px !important; } }
      @media screen and (max-width: 552px) {
        .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media .catalog-element-pictures {
          height: auto !important; } }
    @media screen and (max-width: 1100px) {
      .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-media {
        display: block; } }
    .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about {
      margin-top: 30px; }
      .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-description,
      .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-properties {
        /*width: 45%;*/ }
        .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-description label,
        .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-properties label {
          display: inline-block;
          margin-bottom: 20px;
          padding-bottom: 5px;
          border-bottom: 1px solid #dadada;
          font-weight: 700;
          font-size: 0.8rem; }
        .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-description .element-about-prop-item,
        .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-properties .element-about-prop-item {
          margin-bottom: 15px; }
          .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-description .element-about-prop-item .prop-title,
          .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-properties .element-about-prop-item .prop-title {
            font-weight: 600; }
          .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-description .element-about-prop-item.fl .prop-title,
          .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-properties .element-about-prop-item.fl .prop-title {
            width: 30%; }
          .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-description .element-about-prop-item.fl .prop-value,
          .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-properties .element-about-prop-item.fl .prop-value {
            width: 70%; }
        @media screen and (max-width: 768px) {
          .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-description,
          .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-properties {
            width: 100%; } }
        @media screen and (max-width: 552px) {
          .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-description table,
          .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-properties table {
            display: none; }
          .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-description .element-about-prop-item.fl,
          .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-properties .element-about-prop-item.fl {
            flex-wrap: wrap;
            padding: 10px;
            margin-bottom: 0; }
            .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-description .element-about-prop-item.fl .prop-title,
            .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-properties .element-about-prop-item.fl .prop-title {
              width: 100%; }
            .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-description .element-about-prop-item.fl .prop-value,
            .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-properties .element-about-prop-item.fl .prop-value {
              width: 100%; }
            .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-description .element-about-prop-item.fl:nth-child(even),
            .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-properties .element-about-prop-item.fl:nth-child(even) {
              background: #f7f7f7; } }
      .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-main-element-about .element-about-description.rechanged {
        margin-top: 30px;
        margin-bottom: 0; }
    .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-element-near {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 20px; }
      .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-element-near .catalog-element-near-item {
        margin-bottom: 30px;
        width: 33.33%;
        white-space: nowrap;
        font-size: 16px; }
        @media screen and (max-width: 1000px) {
          .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-element-near .catalog-element-near-item {
            width: 50%; } }
        @media screen and (max-width: 700px) {
          .catalog-element-wrapper .catalog-element-inner .catalog-main-element .catalog-element-near .catalog-element-near-item {
            width: 100%; } }
    .catalog-element-wrapper .catalog-element-inner .catalog-main-element .element-map-wrapper {
      margin-top: 30px; }

/*# sourceMappingURL=style.css.map */
