@import "../../../../css/vars";

.catalog-element-wrapper {
  .catalog-element-inner {
    width: 75%;

    /* Основная колонка */
    .catalog-main-element {
      //margin-top: 30px;
      margin-bottom: 30px;

      .catalog-main-element-media {
        .catalog-element-pictures {
          width: 100%;
          overflow: hidden;
          position: relative;
          padding-right: 20px;
          margin-bottom: 30px;
          //max-height: 687px;
          .catalog-element-media-tabs {
            margin-bottom: 20px;
            display: flex;
            flex-wrap: wrap;

            > div {
              margin-right: 20px;
              padding: 4px 20px;
              border: #999 solid 1px;
              cursor: pointer;
              white-space: nowrap;
              margin-bottom: 20px;

              &.active {
                border-color: #f00;
              }
            }

          }
          .catalog-element-media-tab-content {
            > div {
              display: none;

              &.active {
                display: block;
              }
            }
          }
          .element-pictures-wrap {
            position: relative;

            .all-window-btn {
              width: 170px;
              cursor: pointer;
              padding: 15px 0;
              svg {
                margin-right: 15px;
                color: #bdbdbd;
              }
              &:hover {
                color: #e03232;
                svg {
                  color: #e03232;
                }
              }
            }

            .swiper-button-disabled {
              display: none;
            }
          }
          .element-pictures-slider {
            width: calc(100% - 200px);
            margin: 30px 0 30px;
            height: 100px;
            img {
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              display: block;
              height: 100%;
              object-fit: cover;

              @media all and (-ms-high-contrast: none) {
                flex: 1;
              }

            }
            .swiper-slide {
              border: 3px solid transparent;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              &.active {
                border-color: #dedede;
              }

              /*> div {
                position: relative;
                padding-bottom: 65%;
                width: 100%;
              }*/
            }

            @media screen and (max-width: 552px) {
              display: none;
            }
          }
          .element-picture-main {
            width: 100%;
            height: 500px;
            position: relative;

            img {
              width: 100%;
              position: absolute;
              left: 0;
              top: 0;
              /*max-height: 100%;*/

              height: 100%;
              object-fit: contain;

              @media all and (-ms-high-contrast: none) {
                flex: none;
              }

            }

            /*> div {
              position: relative;
              padding-bottom: 65%;
              width: 100%;
              overflow: hidden;
            }*/

            @media screen and (max-width: 552px) {
              width: 100%;
            }
          }
          .swiper-navigation-arrow {
            position: absolute;
            width: 120px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            cursor: pointer;
            top: 50%;
            z-index: 2;
            margin-top: -15px;
            opacity: .7;
            transform: rotate(-90deg);
            &:after {
              content: '';
              display: block;
              width: 20px;
              height: 20px;
              border: 2px solid #ccc;
              border-width: 2px 0 0 2px;
            }
            &.next-arrow {
              right: -45px;
              left: auto;
              transform: rotate(-90deg);
              &:after {
                transform: rotate(-135deg);
                margin-bottom: 14px;
              }
            }
            &.prev-arrow {
              left: -45px;
              &:after {
                transform: rotate(45deg);
                margin-top: 14px;
              }
            }

            @media screen and (max-width: 552px) {
              display: none;
            }
          }

          @media screen and (max-width: 1024px) {
            width: 100%;
            height: 600px !important;
          }
          @media screen and (max-width: 552px) {
            height: auto !important;
          }
        }

        @media screen and (max-width: 1100px) {
          display: block;
        }
      }

      .catalog-main-element-about {
        margin-top: 30px;
        .element-about-description,
        .element-about-properties {
          /*width: 45%;*/
          label {
            display: inline-block;
            margin-bottom: 20px;
            padding-bottom: 5px;
            border-bottom: 1px solid #dadada;
            font-weight: 700;
            font-size: 0.8rem;
          }
          .element-about-prop-item {
            margin-bottom: 15px;
            .prop-title {
              font-weight: 600;
            }
            &.fl {
              .prop-title {
                width: 30%;
              }
              .prop-value {
                width: 70%;
              }
            }
          }

          @media screen and (max-width: 768px) {
            width: 100%;
          }
          @media screen and (max-width: 552px) {
            table {
              display: none;
            }

            .element-about-prop-item {
              &.fl {
                flex-wrap: wrap;
                padding: 10px;
                margin-bottom: 0;
                .prop-title {
                  width: 100%;
                }
                .prop-value {
                  width: 100%;
                }
                &:nth-child(even) {
                  background: #f7f7f7;
                }
              }
            }
          }
        }

        .element-about-description {
          &.rechanged {
            margin-top: 30px;
            margin-bottom: 0;
          }
        }
      }

      .catalog-element-near {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 20px;

        .catalog-element-near-item {
          margin-bottom: 30px;
          width: 33.33%;
          white-space: nowrap;
          font-size: 16px;

          @media screen and (max-width: 1000px) {
            width: 50%;
          }

          @media screen and (max-width: 700px) {
            width: 100%;
          }
        }
      }

      .element-map-wrapper {
        margin-top: 30px;
      }
    }

  }
}